---
import CardIconText from '@/components/Card/IconText.astro';

interface IconTextCardItem {
  icon: string;
  title: string;
  copy: string;
}

interface Props {
  color?: string;
  heading: string;
  items: IconTextCardItem[];
}

const { color = 'current', heading, items } = Astro.props as Props;

const isInThrees = items.length % 3 === 0;
---

<div class="wrapper flex flex-col gap-50 md:gap-70">
  <h2 class="font-heading text-fluid-h4 text-balance font-semibold">
    {heading}
  </h2>

  <ul class="grid grid-cols-6 gap-24 sm:gap-12 md:gap-30">
    {
      items.map(({ icon, title, copy }) => (
        <li
          class:list={[
            isInThrees
              ? 'col-span-full sm:col-span-3 lg:col-span-2'
              : 'col-span-full sm:col-span-3',
            'h-full',
          ]}
        >
          <CardIconText color={color} {icon} {title} {copy} />
        </li>
      ))
    }
  </ul>
</div>
