---
import Button from '@/components/Elements/Button.astro';
import CubeIcon from '@/components/Elements/CubeIcon.astro';
import ServiceItem from '@/components/Elements/ServiceItem.astro';

interface ServiceListItem {
  headline: string;
  description: string;
  icon: {
    type: 'logo' | 'outline';
    name: string;
    hover: string;
  };
}

interface Props {
  color?: ColorTypes;
  items: ServiceListItem[];
  description?: string;
}

const { color = 'yellow', items, description = '' } = Astro.props as Props;
---

<script>
  import gsap from 'gsap';
  import { ScrollTrigger } from 'gsap/dist/ScrollTrigger';

  gsap.registerPlugin(ScrollTrigger);

  const section = document.querySelector(
    '[data-js="service-list"]',
  ) as HTMLElement;

  if (section) {
    const items = section.querySelectorAll(
      '[data-js-item]',
    ) as NodeListOf<HTMLElement>;

    items.forEach(item => {
      gsap.fromTo(
        item,
        {
          x: 40,
          autoAlpha: 0,
          skewX: -3,
        },
        {
          x: 0,
          autoAlpha: 1,
          skewX: 0,
          scrollTrigger: {
            trigger: item,
            start: 'top 80%',
            end: 'center center',
            scrub: 1.5,
          },
        },
      );
    });

    const stickyEl = section.querySelector(
      '[data-js-service-list-sticky]',
    ) as HTMLElement;

    const setStickyHeight = () => {
      const { height } = stickyEl.getBoundingClientRect();
      const offset = 30;
      const windowHeight = window.innerHeight;
      const headerHeight =
        document.querySelector('[data-js="header"]')?.clientHeight;

      if (!headerHeight) return;

      if (windowHeight < height + headerHeight + offset) {
        stickyEl.style.setProperty('--sticky-height', 'var(--header-height)');
      } else {
        stickyEl.style.setProperty(
          '--sticky-height',
          `calc((50vh - ${height / 2}px) + ${offset}px)`,
        );
      }
    };

    setStickyHeight();

    let ticking = false;

    const handleResize = () => {
      setStickyHeight();
      ticking = false;
    };

    window.addEventListener('resize', () => {
      if (!ticking) {
        window.requestAnimationFrame(handleResize);
        ticking = true;
      }
    });
  }
</script>

<div data-js="service-list" class="wrapper flex flex-col gap-80 lg:gap-0">
  <div
    data-js-service-list-sticky
    class="lg:grid lg:grid-cols-2 lg:gap-30 lg:sticky lg:top-[var(--sticky-height)]"
  >
    <div
      class="relative w-full lg:col-span-1 flex flex-col justify-start items-start gap-40 md:gap-40"
    >
      {Astro.slots.headline && <slot name="headline" />}

      {
        description && (
          <p class="text-17 md:text-21 text-grey text-balance">{description}</p>
        )
      }

      <a href="/" class="block">
        <Button text="Let's Chat" hasArrow />
      </a>

      {Astro.slots.extra && <slot name="extra" />}
    </div>
  </div>

  <div class="lg:grid lg:grid-cols-2 lg:gap-30">
    <ul class="lg:col-span-1 lg:col-start-2 flex flex-col gap-50 md:gap-110">
      {
        items?.map(item => (
          <li data-js-item>
            <ServiceItem
              color={color}
              headline={item.headline}
              description={item.description}
            >
              <CubeIcon slot="icon" icon={item.icon} color={color} />
            </ServiceItem>
          </li>
        ))
      }
    </ul>
  </div>
</div>
