---
import CardRating from '@/components/Card/Rating.astro';
import CarouselTestimonials from '@/components/Carousel/Testimonials.astro';
import Icon from '@/components/Elements/Icon.astro';
import TextReveal from '@/components/Elements/TextReveal.astro';

const slides = [
  {
    quote: `I'm delighted with the finished website & delivery of the project.`,
    name: `Isabella`,
    company: `Ballet with Isabella`,
    img: `/images/test-laptop.jpeg`,
  },
  {
    quote: `I've been really delighted by Yellowball's efficiency and expertise since signing up with them 3 months ago to build a new website, SEO and PPC. They are clearly leaders in their field and I can highly recommend them.`,
    name: `Christopher Eden`,
    company: `Santis Health`,
  },
  {
    quote: `The team understood exactly what I wanted from the beginning.`,
    name: `Pollyanna`,
    company: `Rosa & Blue`,
    img: `/images/test-laptop.jpeg`,
  },
  {
    quote: `I'm delighted with the finished website & delivery of the project.`,
    name: `Isabella`,
    company: `Ballet with Isabella`,
    img: `/images/test-laptop.jpeg`,
  },
  {
    quote: `I've been really delighted by Yellowball's efficiency and expertise since signing up with them 3 months ago to build a new website, SEO and PPC. They are clearly leaders in their field and I can highly recommend them.`,
    name: `Christopher Eden`,
    company: `Santis Health`,
  },
  {
    quote: `The team understood exactly what I wanted from the beginning.`,
    name: `Pollyanna`,
    company: `Rosa & Blue`,
    img: `/images/test-laptop.jpeg`,
  },
];
---

<div data-js="testimonials" class="flex flex-col gap-50 lg:gap-120">
  <div
    class="wrapper-full max-w-[1140px] mx-auto flex flex-col gap-60 lg:gap-110 text-center"
  >
    <TextReveal>
      <h3 class="font-heading text-fluid-h3 font-semibold">
        We're proudly rated 5 stars by 86 happy clients on
        <Icon name="google" class="w-auto h-[1.6ch] [&>svg]:size-full" />
        with an overall average of 4.9
      </h3>
    </TextReveal>
  </div>

  <CarouselTestimonials>
    <Fragment slot="slides">
      {
        slides.map(slide => (
          <div class="swiper-slide">
            <CardRating
              quote={slide.quote}
              name={slide.name}
              company={slide.company}
              hasMedia={Boolean(slide.img)}
              class="w-full max-w-[300px] sm:max-w-[400px]"
            >
              {slide.img && (
                <img src={slide.img} width="500" height="300" alt="" />
              )}
            </CardRating>
          </div>
        ))
      }
    </Fragment>
  </CarouselTestimonials>
</div>
