---
import Icon from '@/components/Elements/Icon.astro';
import ShapeRow from '@/components/Elements/ShapeRow.astro';

const serviceLinks = [
  'WordPress',
  'White Label',
  'WooCommerce',
  'Laravel',
  'Ecommerce',
  'UI / UX',
  'Other Services',
];

const quickLinks = ['Agency', 'Guides', 'Our Work', 'Careers', 'Contact Us'];

const legalLinks = [
  'Privacy Policy',
  'Cookies Policy',
  'Manage Cookie Settings',
  'Terms & Conditions',
];

const linkLists = [
  {
    title: 'Services',
    links: serviceLinks,
  },
  {
    title: 'Quick links',
    links: quickLinks,
  },
  {
    title: 'Legal',
    links: legalLinks,
  },
];
---

<script>
  import gsap from 'gsap';
  import { ScrollTrigger } from 'gsap/dist/ScrollTrigger';

  gsap.registerPlugin(ScrollTrigger);

  const footer = document.querySelector('[data-js=footer]') as HTMLElement;
  const years = footer.querySelectorAll(
    '[data-js-year]',
  ) as NodeListOf<HTMLElement>;

  const getDateTime = (date = new Date()) => ({
    year: String(date.getFullYear()),
    month: String(date.getMonth() + 1).padStart(2, '0'),
    day: String(date.getDate()).padStart(2, '0'),
    hours: String(date.getHours()).padStart(2, '0'),
    minutes: String(date.getMinutes()).padStart(2, '0'),
  });

  const { year, month, day, hours, minutes } = getDateTime();
  const datetime = `${year}-${month}-${day} ${hours}:${minutes}`;

  years.forEach(y => {
    y.textContent = year;
    y.setAttribute('datetime', datetime);
  });

  const footerLogo = footer.querySelector(
    '[data-js-footer-logo]',
  ) as HTMLElement;

  const tl = gsap.timeline({
    scrollTrigger: {
      markers: false,
      trigger: footer,
      start: '80% bottom',
      end: 'bottom bottom',
      scrub: 0,
    },
  });

  tl.from(
    footerLogo,
    {
      opacity: 0,
      y: '20%',
      duration: 1,
      ease: 'linear',
    },
    0,
  );
</script>

<footer data-js="footer" class="app-footer pt-40 md:pt-100 overflow-hidden">
  <div class="wrapper">
    <div
      class="grid gap-x-12 md:gap-x-30 gap-y-50 md:gap-y-80 grid-cols-8 md:grid-cols-12 md:col-span-10 md:col-start-2"
    >
      <div
        class="col-span-full sm:col-span-4 md:col-span-6 xl:col-span-4 xl:col-start-2 flex flex-col gap-y-40"
      >
        <a href="/" class="app-footer__icons w-fit p-12 -mt-8 -mx-12 -mb-12">
          <ShapeRow />
        </a>

        <div
          class="app-footer__list w-fit flex flex-col -m-12 text-15 md:text-18 font-heading font-bold"
        >
          <a href="tel:+442080493080" class="app-footer__list-link block p-12">
            020 8049 3080
          </a>

          <a
            href="mailto:hello@weareyellowball.com"
            class="app-footer__list-link block p-12"
          >
            hello@weareyellowball.com
          </a>

          <a
            href="https://maps.app.goo.gl/Sr8H6TemMQgpdPhq5"
            target="_blank"
            rel="noreferrer noopener"
            class="app-footer__list-link block p-12"
          >
            <address class="not-italic">
              Borough Yards, 13 Dirty Lane,<br /> London, SE1 9PA
            </address>
          </a>
        </div>

        <p
          class="text-12 font-heading font-semibold text-grey opacity-50 smMax:hidden"
        >
          &copy;Yellowball <time data-js-year></time>
        </p>
      </div>

      {
        linkLists &&
          linkLists.map(list => (
            <nav class="col-span-full sm:col-span-4 md:col-span-6 xl:col-span-2 flex flex-col gap-y-24 md:gap-y-40 font-heading text-15 font-semibold">
              <h4>{list.title}</h4>

              <ul class="app-footer__list flex flex-wrap xl:flex-col -m-6">
                {list.links.map(link => (
                  <li class="w-1/2 md:w-full">
                    <a href="#" class="app-footer__list-link block p-6">
                      {link}
                    </a>
                  </li>
                ))}
              </ul>
            </nav>
          ))
      }
    </div>

    <p
      class="text-12 font-heading font-semibold opacity-50 text-grey mt-50 sm:hidden"
    >
      &copy;Yellowball <time data-js-year></time>
    </p>
  </div>

  <div data-js-footer-logo class="wrapper mt-40">
    <Icon
      class="app-footer__logo block translate-y-[27%] size-full text-card"
      name="yellowball"
    />
  </div>
</footer>

<style>
  .app-footer {
    background-image: linear-gradient(
      to top,
      theme('colors.navy') 80%,
      transparent 100%
    );

    @screen md {
      background-image: linear-gradient(
        to top,
        theme('colors.navy') 50%,
        transparent 100%
      );
    }
  }

  .app-footer__list-link {
    opacity: 0.5;
    transition: opacity theme('transitionDuration.150')
      theme('transitionTimingFunction.smooth');

    .app-footer__list:hover & {
      opacity: 1;
    }

    .app-footer__list:hover &:not(:hover) {
      opacity: 0.25;
    }
  }
</style>
