---
import AppHeaderLogo from '@/components/App/HeaderLogo.astro';
import AppHeaderButton from '@/components/App/HeaderButton.astro';
import AppHeaderNav from '@/components/App/HeaderNav.astro';

const classNav =
  'flex gap-4 bg-offblack/10 backdrop-blur-20 rounded-16 border border-white/10 p-3 pointer-events-auto transition-[background-color,border-color] duration-150 ease-smooth';

const classNavListLink = 'block h-full';

const navListOne = [
  { text: 'Services', href: '/' },
  { text: 'Our Work', href: '/' },
  { text: 'Agency', href: '/' },
];

const navListTwo = [
  { text: 'Guides', href: '/' },
  { text: 'Contact', href: '/' },
];
---

<script>
  import gsap from 'gsap';
  import { ScrollTrigger } from 'gsap/dist/ScrollTrigger';

  gsap.registerPlugin(ScrollTrigger);

  const header = document.querySelector('[data-js="header"]') as HTMLElement;
  const navs = [
    ...document.querySelectorAll('[data-js-header-nav]'),
  ] as HTMLElement[];

  if (header) {
    const sections = document.querySelectorAll(
      '[data-js-theme]',
    ) as NodeListOf<HTMLElement>;
    const halfHeaderHeight = header.clientHeight / 2;

    sections.forEach(section => {
      ScrollTrigger.create({
        markers: false,
        trigger: section,
        start: `top ${halfHeaderHeight}px`,
        end: `bottom ${halfHeaderHeight}px`,
        onToggle: ({ isActive }) => {
          const checkIfLightTheme =
            isActive && section.getAttribute('data-js-theme') === 'light';

          header.classList[checkIfLightTheme ? 'remove' : 'add']('text-white');
          header.classList[!checkIfLightTheme ? 'remove' : 'add']('text-navy');
          navs.forEach(nav => {
            nav.classList[checkIfLightTheme ? 'remove' : 'add'](
              'bg-offblack/10',
            );
            nav.classList[checkIfLightTheme ? 'remove' : 'add'](
              'border-white/10',
            );
            nav.classList[!checkIfLightTheme ? 'remove' : 'add'](
              'bg-grey-light/50',
            );
            nav.classList[!checkIfLightTheme ? 'remove' : 'add'](
              'border-grey-light/60',
            );
          });
        },
      });
    });
  }
</script>

<header
  data-js="header"
  class="sticky top-0 z-50 flex justify-between p-12 md:p-18 pointer-events-none"
>
  <nav data-js-header-nav class={classNav}>
    <a class="block" href="/">
      <AppHeaderLogo />

      <span class="sr-only">Home</span>
    </a>

    <div class="mdMax:hidden">
      <AppHeaderNav items={navListOne} />
    </div>
  </nav>

  <nav data-js-header-nav class={classNav}>
    <div class="mdMax:hidden">
      <AppHeaderNav items={navListTwo} />
    </div>

    <button type="button" class="md:hidden h-full">
      <AppHeaderButton text="Menu" type="yellow" />
    </button>

    <a class={classNavListLink} href="/">
      <AppHeaderButton text="Work with us" type="navy" />
    </a>
  </nav>
</header>
