---
import AppHeaderLogo from '@/components/App/HeaderLogo.astro';
import AppHeaderButton from '@/components/App/HeaderButton.astro';
import AppHeaderNav from '@/components/App/HeaderNav.astro';

const classNav =
  'flex gap-4 bg-offblack/10 backdrop-blur-20 rounded-16 border border-white/10 p-3 pointer-events-auto';

const classNavListLink = 'block h-full';

const navListOne = [
  { text: 'Services', href: '/' },
  { text: 'Our Work', href: '/' },
  { text: 'Agency', href: '/' },
];

const navListTwo = [
  { text: 'Guides', href: '/' },
  { text: 'Contact', href: '/' },
];
---

<script>
  const header = document.querySelector('[data-js=header]') as HTMLElement;
  const headerLogo = header.querySelector(
    '[data-js-header-logo]',
  ) as HTMLElement;

  const toggleTheme = () => {
    const navs = header.querySelectorAll(
      '[data-js-header-nav]',
    ) as NodeListOf<HTMLElement>;

    navs.forEach(nav => {
      if (nav.classList.contains('text-navy')) {
        nav.classList.remove('text-navy');
      } else {
        nav.classList.add('text-navy');
      }
    });
  };

  headerLogo.addEventListener('click', toggleTheme);
</script>

<header
  data-js="header"
  class="sticky top-0 z-50 flex justify-between p-12 md:p-18 pointer-events-none"
>
  <nav data-js-header-nav class={classNav}>
    <button data-js-header-logo>
      <!-- <a class="block" href="/"> -->
      <AppHeaderLogo />
      <!-- </a> -->
    </button>

    <div class="mdMax:hidden">
      <AppHeaderNav items={navListOne} />
    </div>
  </nav>

  <nav data-js-header-nav class={classNav}>
    <div class="mdMax:hidden">
      <AppHeaderNav items={navListTwo} />
    </div>

    <button type="button" class="md:hidden h-full">
      <AppHeaderButton text="Menu" type="yellow" />
    </button>

    <a class={classNavListLink} href="/">
      <AppHeaderButton text="Work with us" type="navy" />
    </a>
  </nav>
</header>
