---
import AppHeaderLogo from '@/components/App/HeaderLogo.astro'
import AppHeaderButton from '@/components/App/HeaderButton.astro'
import AppHeaderNav from '@/components/App/HeaderNav.astro'

const classNav =
  'flex gap-4 bg-offblack/10 backdrop-blur-20 rounded-16 border border-white/10 p-4 pointer-events-auto'

const classNavList = 'flex items-center justify-start gap-4 mdMax:hidden'

const classNavListLink = 'block h-full'
---

<header
  class="sticky top-0 z-50 flex justify-between p-12 md:p-18 pointer-events-none"
>
  <nav class={classNav}>
    <a class="block" href="/">
      <AppHeaderLogo />
    </a>

    <AppHeaderNav />
    <!-- <ul class={classNavList}>
      <li>
        <a class={classNavListLink} href="/">
          <AppHeaderButton text="Services" />
        </a>
      </li>
      <li>
        <a class={classNavListLink} href="/">
          <AppHeaderButton text="Our Work" />
        </a>
      </li>
      <li>
        <a class={classNavListLink} href="/">
          <AppHeaderButton text="Agency" />
        </a>
      </li>
    </ul> -->
  </nav>

  <nav class={classNav}>
    <ul class={classNavList}>
      <li>
        <a class={classNavListLink} href="/">
          <AppHeaderButton text="Guides" />
        </a>
      </li>
      <li>
        <a class={classNavListLink} href="/">
          <AppHeaderButton text="Contact" />
        </a>
      </li>
    </ul>

    <button type="button" class="md:hidden">
      <AppHeaderButton text="Menu" type="yellow" />
    </button>

    <a class={classNavListLink} href="/">
      <AppHeaderButton text="Work with us" type="navy" />
    </a>
  </nav>
</header>
