---
import LinkArrow from '@/components/Elements/LinkArrow.astro';

interface Props {
  client: string;
  description: string;
  color?: ColorTypes;
  class?: string;
}

const {
  client,
  description,
  color,
  class: className,
  ...rest
} = Astro.props as Props;

const classes = ['card-case-study-hero', className];
---

<script>
  const cards = document.querySelectorAll(
    '[data-js="card-case-study-hero"]',
  ) as NodeListOf<HTMLElement>;

  cards.forEach(card => {
    card.addEventListener('mousemove', e => {
      const { top, left, width } = card.getBoundingClientRect();
      const backgroundSize = width * 1.5;

      const cursPosX = e.clientX - left - backgroundSize / 2;
      const cursPosY = e.clientY - top - backgroundSize / 2;

      card.style.setProperty('--x', `${cursPosX}px`);
      card.style.setProperty('--y', `${cursPosY}px`);
    });
  });
</script>

<div
  data-js="card-case-study-hero"
  class:list={classes}
  style={`--color: var(--yellowball-${color})`}
  {...rest}
>
  <div
    class="w-full h-full text-left transform-style-3d backface-hidden rotate-x-0 rotate-y-0 will-change-transform transition-transform duration-300 ease-out overflow-hidden rounded-30 lg:rounded-40"
  >
    <a
      href="/"
      class="card-case-study-hero__link group w-full h-full block rounded-30 lg:rounded-40 bg-white/10 p-1"
    >
      <div
        class="card-case-study-hero__inner relative z-10 w-full h-full rounded-30 lg:rounded-40 bg-card overflow-hidden"
      >
        <div
          class="card-case-study-hero__content rounded-30 lg:rounded-40 relative z-20 w-full h-full p-30 lg:p-60 grid grid-cols-1 gap-30 lg:gap-40 lg:grid-cols-[1fr_58%]"
        >
          <div class="flex flex-col justify-start items-start gap-20 md:gap-30">
            {Astro.slots.headline && <slot name="headline" />}

            <LinkArrow class="font-heading text-24 font-semibold">
              {client}
            </LinkArrow>

            <p
              class="font-normal text-15 lg:text-18 text-grey text-pretty max-w-[36ch]"
            >
              {description}
            </p>
          </div>

          {
            Astro.slots.media && (
              <div>
                <div class="w-full shadow-media">
                  <slot name="media" />
                </div>
              </div>
            )
          }
        </div>
      </div>
    </a>
  </div>
</div>

<style>
  .card-case-study-hero {
    &__content {
      box-shadow:
        0px 0px 100px var(--yellowball-navy) inset,
        20px 20px 50px var(--yellowball-card) inset;
    }

    &__link,
    &__inner {
      &::before {
        opacity: 0;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        translate: var(--x) var(--y) 0;
        width: 150%;
        aspect-ratio: 1;
        pointer-events: none;
        transition: opacity 0.3s ease;
        background-image: radial-gradient(
          var(--color),
          transparent,
          transparent
        );
      }
    }

    &__link {
      &:hover {
        &::before {
          opacity: 1;
        }

        .card-case-study-hero__inner {
          &::before {
            opacity: 0.2;
          }
        }
      }
    }
  }
</style>
