---
import { colourText } from '@/utils/maps';
import Icon from '@/components/Elements/Icon.astro';

interface Props {
  headline: string;
  description: string;
  shape?: ShapeTypes;
  color?: ColorTypes;
  class?: string;
}

const hasSlotDefault = !!Astro.slots.default;
const {
  headline,
  description,
  shape,
  color,
  class: className,
  ...rest
} = Astro.props as Props;

const colorHeadline = colourText[color as keyof typeof colourText] ?? '';
const classes = ['card-client-overview', className];

const colourHoverMap: Record<string, string> = {
  yellow: 'before:text-yellow',
  green: 'before:text-green',
  blue: 'before:text-blue',
  purple: 'before:text-purple',
} as const;
---

<div
  data-js-effect="glow|shape"
  class:list={classes}
  style={`--color: var(--yellowball-${color})`}
  {...rest}
>
  <div
    class="transform-style-3d backface-hidden rotate-x-0 rotate-y-0 will-change-transform rounded-30 lg:rounded-40 w-full h-full overflow-hidden text-left transition-transform duration-300 ease-out"
  >
    <div
      class:list={[
        'card-client-overview__wrapper group rounded-30 lg:rounded-40 bg-white/10 block w-full h-full p-1',
        colourHoverMap[color as keyof typeof colourHoverMap],
      ]}
    >
      <div
        class:list={[
          'card-client-overview__inner rounded-30 lg:rounded-40 bg-card relative z-10 w-full h-full overflow-hidden',
          colourHoverMap[color as keyof typeof colourHoverMap],
        ]}
      >
        {
          shape && (
            <Icon
              data-js="shape"
              name={`shape-${shape}`}
              width={160}
              height={160}
              class="opacity-10 absolute top-0 left-0 z-0 text-white pointer-events-none"
            />
          )
        }

        <div
          class="card-client-overview__content rounded-30 lg:rounded-40 relative z-20 w-full h-full p-30 lg:p-50 grid grid-cols-1 gap-30 lg:gap-40 lg:grid-cols-2"
        >
          <div class="gap-20 md:gap-30 flex flex-col items-start justify-start">
            <h3
              class:list={[
                colorHeadline,
                'font-heading font-semibold text-15 lg:text-18 text-balance flex items-baseline gap-10',
              ]}
            >
              {headline}
            </h3>

            <p class="font-normal text-15 lg:text-18 text-grey text-balance">
              {description}
            </p>
          </div>

          {
            hasSlotDefault && (
              <div>
                <div class="shadow-media lgMax:mt-20 w-full">
                  <slot />
                </div>
              </div>
            )
          }
        </div>
      </div>
    </div>
  </div>
</div>

<style is:global>
  .card-client-overview {
    &__content {
      box-shadow:
        0px 0px 100px theme('colors.navy') inset,
        20px 20px 50px theme('colors.card') inset;
    }

    &__wrapper,
    &__inner {
      &::before {
        opacity: 0;
        content: '';
        position: absolute;
        top: var(--y);
        left: var(--x);
        z-index: 1;
        width: 150%;
        aspect-ratio: 1;
        pointer-events: none;
        transition: opacity 0.3s ease;
        transform: translate3d(-50%, -50%, 0);
        background-image: radial-gradient(
          currentColor,
          transparent,
          transparent
        );
      }
    }

    &__wrapper {
      &:hover {
        &::before {
          opacity: 1;
        }

        .card-client-overview__inner {
          &::before {
            opacity: 0.2;
          }
        }
      }
    }
  }
</style>
