---
import Icon from "@/components/Elements/Icon.astro";

interface Props {
  imageMobile: ImageObject;
  imageDesktop: ImageObject;
  class?: string;
}

const { imageMobile, imageDesktop, class: className } = Astro.props as Props;

const screenMd = `(min-width: 768px)`;

const classes = ["card-project", className];
---

<div
  class:list={[
    classes,
    "relative overflow-hidden w-full p-10 md:p-20 flex flex-col gap-15 md:gap-20 rounded-30",
    "bg-navy-light",
    "after:absolute after:inset-0",
    "after:border after:border-solid after:border-navy-lighter after:rounded-30",
  ]}
>
  <div
    class="flex gap-6 md:gap-8 justify-center md:justify-start text-white/15 pt-5 md:pt-0 px-10"
  >
    <Icon
      class="block w-[11px] h-[10px] md:w-[16px] md:h-[14px]"
      name="shape-triangle"
    />

    <Icon class="block size-[10px] md:size-[14px]" name="shape-square" />

    <Icon class="block size-[10px] md:size-[14px]" name="shape-circle" />
  </div>

  <picture
    class="bg-black/80 rounded-t-10 rounded-b-20 sm:rounded-b-10 overflow-hidden"
  >
    <source
      media={screenMd}
      srcset={imageDesktop.src}
      width={imageDesktop.width}
      height={imageDesktop.height}
    />

    <img
      src={imageMobile.src}
      alt={imageMobile.alt}
      width={imageMobile.width}
      height={imageMobile.height}
    />
  </picture>
</div>
