---
import { colourText } from '@/utils/maps';
import LinkArrow from '@/components/Elements/LinkArrow.astro';

interface Props {
  title: string;
  headline: string;
  description: string;
  cta: string;
  color?: ColorTypes;
  class?: string;
}

const hasSlotDefault = !!Astro.slots.default;
const {
  title,
  headline,
  description,
  cta,
  color,
  class: className,
  ...rest
} = Astro.props as Props;

const colorTitle = colourText[color as keyof typeof colourText] ?? '';
const classes = ['card-project-hero', className];
---

<script>
  const cards = document.querySelectorAll(
    '[data-js="card-project-hero"]',
  ) as NodeListOf<HTMLElement>;

  cards.forEach(card => {
    card.addEventListener('mousemove', e => {
      const { top, left, width } = card.getBoundingClientRect();
      const backgroundSize = width * 1.5;

      const cursPosX = e.clientX - left - backgroundSize / 2;
      const cursPosY = e.clientY - top - backgroundSize / 2;

      card.style.setProperty('--x', `${cursPosX}px`);
      card.style.setProperty('--y', `${cursPosY}px`);
    });
  });
</script>

<div
  data-js="card-project-hero"
  class:list={classes}
  style={`--color: var(--yellowball-${color})`}
  {...rest}
>
  <div
    class="transform-style-3d backface-hidden rotate-x-0 rotate-y-0 will-change-transform rounded-30 lg:rounded-40 w-full h-full overflow-hidden text-left transition-transform duration-300 ease-out"
  >
    <a
      href="/"
      class="card-project-hero__link group rounded-30 lg:rounded-40 bg-white/10 block w-full h-full p-1"
    >
      <div
        class="card-project-hero__inner rounded-30 lg:rounded-40 bg-card relative z-10 w-full h-full overflow-hidden"
      >
        <div
          class="card-project-hero__content rounded-30 lg:rounded-40 relative z-20 w-full h-full p-30 lg:p-60 grid grid-cols-1 gap-30 lg:gap-40 lg:grid-cols-[1fr_58%]"
        >
          <div class="md:gap-30 flex flex-col items-start justify-start gap-20">
            <div
              class="gap-30 md:gap-40 flex flex-col items-start justify-start"
            >
              <p
                class:list={[
                  colorTitle,
                  'font-heading font-semibold text-15 lg:text-18 text-balance',
                ]}
              >
                {title}
              </p>

              <h3 class="font-heading text-fluid-h5 text-balance font-semibold">
                {headline}
              </h3>
            </div>

            <p
              class="font-normal text-15 lg:text-18 text-grey text-pretty max-w-[36ch]"
            >
              {description}
            </p>

            <LinkArrow
              class="font-heading text-15 lg:text-18 mt-auto font-bold"
            >
              {cta}
            </LinkArrow>
          </div>

          {
            hasSlotDefault && (
              <div>
                <div class="shadow-media w-full">
                  <slot />
                </div>
              </div>
            )
          }
        </div>
      </div>
    </a>
  </div>
</div>

<style>
  .card-project-hero {
    &__content {
      box-shadow:
        0px 0px 100px var(--yellowball-navy) inset,
        20px 20px 50px var(--yellowball-card) inset;
    }

    &__link,
    &__inner {
      &::before {
        opacity: 0;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        translate: var(--x) var(--y) 0;
        width: 150%;
        aspect-ratio: 1;
        pointer-events: none;
        transition: opacity 0.3s ease;
        background-image: radial-gradient(
          var(--color),
          transparent,
          transparent
        );
      }
    }

    &__link {
      &:hover {
        &::before {
          opacity: 1;
        }

        .card-project-hero__inner {
          &::before {
            opacity: 0.2;
          }
        }
      }
    }
  }
</style>
