---
import { colourText } from '@/utils/maps';
import { hasSlot } from '@/utils/helpers';
import Icon from '@/components/Elements/Icon.astro';

interface Props {
  headline: string;
  description: string;
  cta: string;
  shape?: ShapeTypes;
  color?: ColorTypes;
  class?: string;
}

const hasSlotDefault = await hasSlot(Astro.slots, 'default');
const {
  headline,
  description,
  cta,
  shape,
  color,
  class: className,
  ...rest
} = Astro.props as Props;

const colorShape = colourText[color as keyof typeof colourText] ?? '';
const classes = ['card-service-hero', className];

const colourHoverMap: Record<string, string> = {
  yellow: 'before:text-yellow',
  green: 'before:text-green',
  blue: 'before:text-blue',
  purple: 'before:text-purple',
} as const;
---

<div data-js-effect="tilt|glow|shape" class:list={classes} {...rest}>
  <div
    class="transform-style-3d backface-hidden rotate-x-0 rotate-y-0 will-change-transform rounded-30 lg:rounded-40 w-full h-full overflow-hidden text-left transition-transform duration-300 ease-out"
  >
    <div
      class:list={[
        'card-service-hero__wrapper group rounded-30 lg:rounded-40 bg-white/10 block w-full h-full p-1',
        colourHoverMap[color as keyof typeof colourHoverMap],
      ]}
    >
      <div
        class:list={[
          'card-service-hero__inner rounded-30 lg:rounded-40 bg-card relative z-10 w-full h-full overflow-hidden',
          colourHoverMap[color as keyof typeof colourHoverMap],
        ]}
      >
        {
          shape && (
            <Icon
              data-js="shape"
              name={`shape-${shape}`}
              width={200}
              height={200}
              class="opacity-10 absolute top-0 left-0 z-0 text-white pointer-events-none"
            />
          )
        }

        <div
          class="card-service-hero__content rounded-30 lg:rounded-40 relative z-20 w-full h-full p-30 lg:p-60 grid grid-cols-1 gap-30 lg:gap-40 lg:grid-cols-[1fr_53%]"
        >
          <div class="gap-30 md:gap-40 flex flex-col items-start justify-start">
            <h3
              class="font-heading text-fluid-h3 gap-10 text-balance flex items-baseline font-semibold"
            >
              {headline}

              {
                shape && colorShape && (
                  <Icon
                    name={`shape-${shape}`}
                    width={shape === 'triangle' ? 24 : 21}
                    height={21}
                    class:list={[colorShape, 'inline-block ml-5']}
                  />
                )
              }
            </h3>

            <p class="text-18 lg:text-21 text-grey text-balance font-normal">
              {description}
            </p>

            <button
              type="button"
              class="font-heading text-15 lg:text-18 text-balance flex items-center gap-12 mt-auto font-bold text-white"
            >
              {cta}
              <Icon name="arrow-s" class="size-15 md:size-[17px]" />
            </button>
          </div>

          {
            hasSlotDefault && (
              <div>
                <div class="shadow-media lgMax:mt-20 w-full">
                  <slot />
                </div>
              </div>
            )
          }
        </div>
      </div>
    </div>
  </div>
</div>

<style is:global>
  .card-service-hero {
    &__content {
      box-shadow:
        0px 0px 100px theme('colors.navy') inset,
        20px 20px 50px theme('colors.card') inset;
    }

    &__wrapper,
    &__inner {
      &::before {
        opacity: 0;
        content: '';
        position: absolute;
        top: var(--y);
        left: var(--x);
        z-index: 1;
        width: 150%;
        aspect-ratio: 1;
        pointer-events: none;
        transition: opacity 0.3s ease;
        transform: translate3d(-50%, -50%, 0);
        background-image: radial-gradient(
          currentColor,
          transparent,
          transparent
        );
      }
    }

    &__wrapper {
      &:hover {
        &::before {
          opacity: 1;
        }

        .card-service-hero__inner {
          &::before {
            opacity: 0.2;
          }
        }
      }
    }
  }
</style>
