---
import { colourText } from '@/utils/maps';
import Icon from '@/components/Elements/Icon.astro';
import Tag from '@/components/Elements/Tag.astro';

type ListItemType = {
  icon: string;
  text: string;
};

interface Props {
  title: string;
  headline: string;
  description: string;
  list?: ListItemType[];
  cta: string;
  color?: ColorTypes;
  hoverColor?: string;
  theme?: ThemeTypes;
  class?: string;
}

const hasSlotDefault = !!Astro.slots.default;
const {
  title,
  headline,
  description,
  list,
  cta,
  color = 'current',
  hoverColor = color,
  theme = 'dark',
  class: className,
  ...rest
} = Astro.props as Props;

const colorTitle = colourText[color as keyof typeof colourText] ?? '';
const classes = [
  'card-work-hero',
  `theme-${theme}`,
  theme === 'light' ? 'text-navy' : '',
  className,
];
---

<div
  data-js="card-background-gradient-hover-effect"
  class:list={classes}
  style={`--hover-color: ${hoverColor}`}
  {...rest}
>
  <div
    class="transform-style-3d backface-hidden rotate-x-0 rotate-y-0 will-change-transform rounded-30 lg:rounded-40 w-full h-full overflow-hidden text-left transition-transform duration-300 ease-out"
  >
    <a
      href="/"
      class:list={[
        'card-work-hero__link group rounded-[inherit] block w-full h-full p-1 bg-white/10',
        theme === 'light' ? 'bg-navy/15' : 'bg-white/15',
      ]}
    >
      <div
        class:list={[
          'card-work-hero__inner rounded-[inherit] relative z-10 w-full h-full overflow-hidden',
          theme === 'light' ? 'bg-white' : 'bg-card',
        ]}
      >
        <div
          class="card-work-hero__content relative z-20 rounded-[inherit] w-full h-full p-30 lg:p-60 flex flex-col gap-y-40"
        >
          <div
            class="flex flex-col-reverse items-end justify-between lg:flex-row lg:items-start"
          >
            <div
              class="w-full flex flex-col items-start justify-start gap-60 lg:w-1/2 lg:pr-30"
            >
              <div class="flex flex-col items-start justify-start gap-30">
                <p
                  class:list={[
                    theme === 'dark' && colorTitle,
                    'font-heading font-bold text-15 lg:text-18 text-balance mb-5',
                    'flex items-center gap-15',
                  ]}
                >
                  {theme === 'light' && <Tag text="Lite" />}
                  {title}
                </p>

                <h3
                  class="font-heading text-fluid-h4 text-balance font-semibold"
                >
                  {headline}
                </h3>

                <p
                  class="font-normal text-15 lg:text-18 opacity-70 text-pretty max-w-[36ch]"
                >
                  {description}
                </p>
              </div>

              {
                list?.length && (
                  <ul class="mdMax:hidden flex flex-col items-start justify-start gap-30 text-15 lg:text-18 font-heading font-bold">
                    {list.map(item => (
                      <li class="flex items-center gap-30">
                        <Icon
                          name={item.icon}
                          class:list={[
                            'size-22 shrink-0',
                            theme === 'dark' && colorTitle,
                          ]}
                        />

                        <p>{item.text}</p>
                      </li>
                    ))}
                  </ul>
                )
              }
            </div>

            <Icon
              name="arrow-ne"
              class="shrink-0 size-10 md:size-12 group-hover:translate-x-1/2 group-hover:-translate-y-1/2 transition-transform duration-300"
            />
          </div>

          {
            hasSlotDefault && (
              <div class="lg:absolute lg:inset-0 lg:p-60 lg:flex lg:items-end lg:justify-end">
                <div class="shadow-media lgMax:max-w-[500px] lgMax:mx-auto lg:w-1/2 -mb-30 lg:-mb-60 h-full [&_img]:w-full [&_img]:h-full [&_img]:object-contain [&_img]:object-bottom">
                  <slot />
                </div>
              </div>
            )
          }
        </div>
      </div>
    </a>
  </div>
</div>

<style is:global>
  .card-work-hero__content {
    box-shadow:
      0px 0px 100px theme('colors.navy') inset,
      0px 0px 50px theme('colors.card') inset;

    .card-work-hero.theme-light & {
      box-shadow: none;
    }
  }

  .card-work-hero__link,
  .card-work-hero__inner {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      aspect-ratio: 1;
      pointer-events: none;
      opacity: 0;
      transition: opacity 0.3s ease;
      background-image: radial-gradient(var(--hover-color) 0%, transparent 50%);
      width: 150%;
      height: auto;
      translate: var(--x) var(--y) 0;
      background-image: radial-gradient(
        var(--hover-color),
        transparent,
        transparent
      );

      .card-work-hero.theme-light & {
        --hover-color: theme('colors.navy-lightest');
      }

      @media screen(lg) {
        opacity: 0;
        width: 150%;
        height: auto;
        translate: var(--x) var(--y) 0;
        background-image: radial-gradient(
          var(--hover-color),
          transparent,
          transparent
        );
      }
    }
  }

  .card-work-hero__link {
    &:hover {
      &::before {
        opacity: 1;
      }

      .card-work-hero__inner {
        &::before {
          opacity: 0.2;
        }
      }
    }
  }
</style>
