---
import Layout from '@/layouts/Layout.astro';
import LayoutTheme from '@/components/Layout/Theme.astro';

import TextReveal from '@/components/Elements/TextReveal.astro';
import UITextScrub from '@/components/UI/TextScrub.astro';
import TextScrubAvatars from '@/components/Elements/TextScrubAvatars.astro';
import CardFigure from '@/components/Card/Figure.astro';
import UITickerLogo from '@/components/UI/TickerLogo.astro';
import CardIconText from '@/components/Card/IconText.astro';
import CardRole from '@/components/Card/Role.astro';
import TextUnderline from '@/components/Elements/TextUnderline.astro';

import BlockFruitMachine from '@/components/Block/FruitMachine.astro';
import BlockHeadingTextStack from '@/components/Block/HeadingTextStack.astro';
import BlockHeroText from '@/components/Block/HeroText.astro';
import BlockStickyMap from '@/components/Block/StickyMap.astro';
import BlockTestimonials from '@/components/Block/Testimonials.astro';
import BlockTeamGrid from '@/components/Block/TeamGrid.astro';
import BlockValues from '@/components/Block/Values.astro';

const classSection = 'py-50 md:py-[75px]';
const classSectionThick = 'py-100 md:py-[150px]';
const classSectionThicker = 'py-120 md:py-[240px]';
---

<Layout title="Agency">
  <main>
    <section class={classSection}>
      <BlockFruitMachine />
    </section>

    <section class={classSection}>
      <LayoutTheme theme="light" class={classSectionThicker}>
        <div class="wrapper">
          <UITextScrub />
        </div>
      </LayoutTheme>
    </section>

    <section class={classSection}>
      <BlockValues />
    </section>

    <section class={classSection}>
      <LayoutTheme theme="light" class={classSectionThick}>
        <BlockHeadingTextStack>
          <Fragment slot="headline">
            <TextReveal
              tag="h2"
              class="font-heading text-fluid-h2 text-balance font-semibold"
            >
              Trusted by <TextScrubAvatars /> ambitious businesses everywhere
            </TextReveal>
          </Fragment>

          <Fragment slot="description">
            <p>
              We attract clients who are ambitious, forward-thinking, and ready
              to push boundaries and put the bounce into their businesses. We’re
              sector and size agnostic – working with clients just like you
              across B2B lead generation to eCommerce, tech startups and
              corporate websites, we work with businesses that are looking to
              elevate their digital presence and invest in meaningful growth.
            </p>

            <p>
              Our clients trust us to challenge them creatively, drive their
              digital strategies, and deliver results that help their businesses
              grow. No two projects are ever the same, and that’s what excites
              us.
            </p>
          </Fragment>

          <Fragment slot="bottom">
            <UITickerLogo />

            <div class="grid grid-cols-1 lg:grid-cols-3 gap-24 md:gap-30">
              <CardFigure
                size="small"
                figure={100}
                unit="+"
                headline="Active Clients"
                description="We're trusted partners of brands across the UK, providing tailored, ongoing support that ensures their digital success."
                color="green"
                shape="square"
              />

              <CardFigure
                size="small"
                figure={150}
                unit="+"
                headline="Websites Delivered"
                description="We've launched websites across every imaginable industry, helping B2B and B2C brands achieve their online goals with impactful, results-driven designs."
                color="yellow"
                shape="triangle"
              />

              <CardFigure
                size="small"
                figure={84}
                unit="%"
                headline="Client Rentention"
                description="84% of our clients stay with us for three years or more, because when you build trust and deliver real results, why go anywhere else?"
                color="blue"
                shape="circle"
              />
            </div>
          </Fragment>
        </BlockHeadingTextStack>
      </LayoutTheme>
    </section>

    <section class={classSection}>
      <BlockStickyMap>
        <Fragment slot="headline">
          <TextReveal tag="h2" class="font-heading text-fluid-h3 font-semibold">
            <span class="!block pl-[2ch]">Rooted in</span>
            London,
            <span class="!block pl-[1ch]">connected</span>
            <TextUnderline>worldwide</TextUnderline>
          </TextReveal>
        </Fragment>

        <Fragment slot="richtext">
          <h6>
            We’re a globally distributed team, bringing together the brightest
            designers, developers, SEO specialists, and PPC strategists from
            around the world.
          </h6>
          <h6>
            While our headquarters are rooted in London, we have a team in South
            Africa and trusted partners across the world.
          </h6>
          <p>
            Our culture is built on flexibility, openness, and collaboration.
            With a zero-ego hiring policy, we ensure that every member of our
            team is approachable, easy to work with, and ready to contribute
            fresh, creative ideas. We give our team the freedom to work where
            they’re most inspired, but we remain deeply connected – both to each
            other and to our clients.
          </p>
        </Fragment>
      </BlockStickyMap>
    </section>

    <section class={classSection}>
      <LayoutTheme theme="light" class={classSectionThick}>
        <BlockTeamGrid>
          <Fragment slot="headline">
            <TextReveal
              tag="h2"
              class="font-heading text-fluid-h2 text-balance font-semibold text-center"
            >
              Meet your Team
            </TextReveal>
          </Fragment>
        </BlockTeamGrid>
      </LayoutTheme>
    </section>

    <section class={classSection}>
      <BlockHeadingTextStack>
        <Fragment slot="headline">
          <TextReveal
            tag="h2"
            class="font-heading text-fluid-h2 text-balance font-semibold"
          >
            <span class="!block pl-[1ch]">Do the best work</span>
            of your life
          </TextReveal>
        </Fragment>

        <Fragment slot="description">
          <p>
            Join us to help rocket Yellowball forward on our journey to become
            the UK’s leading boutique web design agency. We’re commercial,
            creative and highly entrepreneurial in the way we operate. We were
            founded over a decade ago with 150 beautiful bespoke projects under
            our belt, but we’re just getting started!
          </p>
        </Fragment>

        <Fragment slot="bottom">
          <div class="flex flex-wrap -m-15">
            <div class="basis-1/3 min-w-[min(320px,_100%)] grow p-15">
              <CardIconText
                color="yellow"
                icon="outline-wallet"
                title="Competitive salary, based on experience + commission and other incentives"
              />
            </div>

            <div class="basis-1/3 min-w-[min(320px,_100%)] grow p-15">
              <CardIconText
                color="yellow"
                icon="outline-house-person"
                title="Flexible work-from-home scheme"
              />
            </div>

            <div class="basis-1/3 min-w-[min(320px,_100%)] grow p-15">
              <CardIconText
                color="yellow"
                icon="outline-plane-takeoff"
                title="25 days holiday per annum plus UK Bank Holidays"
              />
            </div>

            <div class="basis-1/3 min-w-[min(320px,_100%)] grow p-15">
              <CardIconText
                color="yellow"
                icon="outline-piggy-bank"
                title="A generous 7.5% employer pension contribution"
                copy="We pay 100% of your salary, then 7.5% extra into your pension."
              />
            </div>

            <div class="basis-1/3 min-w-[min(320px,_100%)] grow p-15">
              <CardIconText
                color="yellow"
                icon="outline-laptop"
                title="MacBooks are our standard lorem ipsum dolor sit amet"
                copy="We’ll provide whatever equipment helps you get your job done."
              />
            </div>
          </div>
        </Fragment>
      </BlockHeadingTextStack>
    </section>

    <section class={classSection}>
      <BlockHeroText>
        <Fragment slot="headline">
          <TextReveal
            tag="h2"
            class="font-heading text-fluid-h2 text-balance font-semibold"
          >
            Open Roles
          </TextReveal>
        </Fragment>
      </BlockHeroText>

      <div class={classSection}>
        <div class="wrapper flex flex-col gap-24 md:gap-30">
          <a href="/">
            <CardRole
              cursorTitle="Design Team"
              title="Midweight Web Designer"
              copy="Lorem ipsum dolor sit amet consectetur. Vel diam tortor enim elementum et quisque mi. Id dictum hac eget magna suspendisse posuere. Enim orci faucibus morbi in. Phasellus sociis ipsum aliquam neque iaculis nulla. Dui ac libero mollis libero. Dignissim ipsum commodo fusce egestas sed in diam laoreet."
              color="yellow"
              icon="shape-triangle"
            />
          </a>

          <a href="/">
            <CardRole
              cursorTitle="Management Team"
              title="Strategic Sales Manager"
              copy="Lorem ipsum dolor sit amet consectetur. Vel diam tortor enim elementum et quisque mi. Id dictum hac eget magna suspendisse posuere. Enim orci faucibus morbi in. Phasellus sociis ipsum aliquam neque iaculis nulla. Dui ac libero mollis libero. Dignissim ipsum commodo fusce egestas sed in diam laoreet."
              color="cream"
              icon="yellowball-y"
            />
          </a>

          <a href="/">
            <CardRole
              cursorTitle="SEO Team"
              title="SEO Account Manager"
              copy="Lorem ipsum dolor sit amet consectetur. Vel diam tortor enim elementum et quisque mi. Id dictum hac eget magna suspendisse posuere. Enim orci faucibus morbi in. Phasellus sociis ipsum aliquam neque iaculis nulla. Dui ac libero mollis libero. Dignissim ipsum commodo fusce egestas sed in diam laoreet."
              color="green"
              icon="shape-square"
            />
          </a>

          <a href="/">
            <CardRole
              cursorTitle="PPC Team"
              title="Junior PPC Account Manager"
              copy="Lorem ipsum dolor sit amet consectetur. Vel diam tortor enim elementum et quisque mi. Id dictum hac eget magna suspendisse posuere. Enim orci faucibus morbi in. Phasellus sociis ipsum aliquam neque iaculis nulla. Dui ac libero mollis libero. Dignissim ipsum commodo fusce egestas sed in diam laoreet."
              color="blue"
              icon="shape-circle"
            />
          </a>
        </div>
      </div>
    </section>

    <section class={classSection}>
      <LayoutTheme theme="light" class={classSectionThick}>
        <BlockTestimonials />
      </LayoutTheme>
    </section>
  </main>
</Layout>
