---
import Layout from '@/layouts/Layout.astro';

import Button from '@/components/Elements/Button.astro';
import CardProjectHero from '@/components/Card/ProjectHero.astro';
import CardService from '@/components/Card/Service.astro';
import CardServiceHero from '@/components/Card/ServiceHero.astro';
import Cursor from '@/components/Elements/Cursor.astro';
import Cursors from '@/components/Elements/Cursors.astro';
import Icon from '@/components/Elements/Icon.astro';
import LinkArrow from '@/components/Elements/LinkArrow.astro';
import TextGradient from '@/components/Elements/TextGradient.astro';
import TextReveal from '@/components/Elements/TextReveal.astro';

import BlockButtons from '@/components/Block/Buttons.astro';
import BlockCardStacks from '@/components/Block/CardStacks.astro';
import BlockCarouselPosts from '@/components/Block/CarouselPosts.astro';
import BlockCarouselProjects from '@/components/Block/CarouselProjects.astro';
import BlockFAQs from '@/components/Block/FAQs.astro';
import BlockHeadingBanner from '@/components/Block/HeadingBanner.astro';
import BlockHero from '@/components/Block/Hero.astro';
import BlockHeroText from '@/components/Block/HeroText.astro';
import BlockLogoTicker from '@/components/Block/LogoTicker.astro';
import BlockOverlaps from '@/components/Block/Overlaps.astro';
import BlockServiceCards from '@/components/Block/ServiceCards.astro';
import BlockServiceList from '@/components/Block/ServiceList.astro';
import BlockTestimonials from '@/components/Block/Testimonials.astro';

import LayoutTheme from '@/components/Layout/Theme.astro';
import LayoutLines from '@/components/Layout/Lines.astro';

const exampleServiceListItems: any = [
  {
    headline: 'WordPress Development',
    description:
      'Custom WordPress websites designed for flexibility, performance, and scalability. Power your brand with a platform trusted by millions.',
    icon: {
      type: 'logo',
      name: 'logo-wp',
      hover: 'logo-wp-hover',
    },
  },
  {
    headline: 'UX/UI Design',
    description:
      'User-centric design that puts your audience first. We create intuitive, engaging interfaces that delight users and drive action.',
    icon: {
      type: 'logo',
      name: 'logo-figma',
      hover: 'logo-figma-hover',
    },
  },
  {
    headline: 'WooCommerce Development',
    description:
      'Sell smarter with WooCommerce. We create e-commerce websites that not only look good but convert.',
    icon: {
      type: 'logo',
      name: 'logo-woo',
      hover: 'logo-woo-hover',
    },
  },
  {
    headline: 'Laravel Development',
    description:
      'Complex problems solved simply. Build custom web applications that deliver seamless user experiences.',
    icon: {
      type: 'logo',
      name: 'logo-laravel',
      hover: 'logo-laravel-hover',
    },
  },
  {
    headline: 'White Label Web Development',
    description:
      'Need world-class development without the spotlight? We offer discreet white-label web services for agencies and brands alike.',
    icon: {
      type: 'outline',
      name: 'outline-info-inspector',
    },
  },
  {
    headline: 'eCommerce',
    description:
      'From product page optimisation to frictionless checkout experiences, we design and develop online stores that turn visitors into loyal customers.',
    icon: {
      type: 'outline',
      name: 'outline-info-basket',
    },
  },
];

const classSection = 'py-50 md:py-[75px]';
const classSectionThick = 'py-100 md:py-[150px]';
---

<Layout title="Home">
  <main>
    <section class="py-50">
      <BlockHero>
        <Fragment slot="top">
          <Icon name="yellowball" class="w-[117px] h-[22px]" />
        </Fragment>

        <Fragment slot="headline">
          <TextReveal
            onEnter
            tag="h1"
            class="font-heading text-fluid-h1 font-semibold text-balance"
          >
            <TextGradient>Websites</TextGradient> that get your business rolling
          </TextReveal>
        </Fragment>

        <Fragment slot="bottom">
          <p class="text-17 md:text-21 text-grey text-balance">
            We're a boutique, London-based web design agency, crafting stunning,
            bespoke websites that captivate and convert. Ready to get the ball
            rolling?

            <a
              href="/"
              class="ml-[0.4em] font-heading font-bold text-15 md:text-18"
            >
              <LinkArrow class="text-yellow">Let’s Chat</LinkArrow>
            </a>
          </p>
        </Fragment>

        <Fragment slot="extra">
          <Cursors hasExit>
            <Cursor title="PPC Team" class="bg-blue" />
            <Cursor title="Design Team" class="bg-yellow" />
            <Cursor title="SEO Team" class="bg-green" />
            <Cursor title="Developers" class="bg-grey" />
          </Cursors>
        </Fragment>
      </BlockHero>
    </section>

    <section class:list={[classSection, 'relative z-10']}>
      <BlockCarouselProjects />
    </section>

    <section class={classSection}>
      <BlockHeadingBanner />
    </section>

    <section class={classSection}>
      <BlockServiceCards>
        <Fragment slot="cards">
          <CardServiceHero
            headline="Web Design"
            description="We craft visually stunning, user-friendly websites that engage and convert your audience."
            cta="See our services"
            shape="triangle"
            color="yellow"
            class="col-span-full"
          >
            <img
              src="/images/test-service-1.webp"
              width="1230"
              height="756"
              alt=""
            />
          </CardServiceHero>

          <CardService
            headline="SEO"
            description="Rank higher and grow your business faster with our leading SEO team. We'll get your site to the top of Google to increase revenue, leads and results."
            shape="square"
            color="green"
          >
            <img
              src="/images/test-service-2.webp"
              width="1032"
              height="430"
              alt=""
            />
          </CardService>

          <CardService
            headline="Paid Search"
            description="Fast-track your brand's visibility with data-driven paid media strategies. Across Google, Instagram, Facebook and LinkedIn, we help you reach your audience instantly."
            shape="circle"
            color="blue"
          >
            <img
              src="/images/test-service-3.webp"
              width="1032"
              height="430"
              alt=""
            />
          </CardService>
        </Fragment>
      </BlockServiceCards>
    </section>

    <section class={classSection}>
      <BlockServiceList
        color="yellow"
        items={exampleServiceListItems}
        description="We offer a full suite of web design services that transform your brand story into digital experiences."
      >
        <Fragment slot="headline">
          <TextReveal tag="h3" class="font-heading text-fluid-h3 font-semibold">
            End-to-end
            <span class="!block pl-[2ch]">web design</span>
            <span class="!block pl-[1ch]">services</span>
          </TextReveal>
        </Fragment>

        <Fragment slot="extra">
          <Cursors>
            <Cursor title="Design Team" class="bg-yellow" />
            <Cursor title="Developers" class="bg-grey" />
          </Cursors>
        </Fragment>
      </BlockServiceList>
    </section>

    <section class={classSection}>
      <LayoutTheme theme="light">
        <LayoutLines theme="light" class={classSectionThick}>
          <BlockCardStacks
            description="Yellowball combines the best of both worlds: London-based expertise with the strength of a globally distributed team. We're big enough to tackle major challenges, yet small enough to care about every detail."
          >
            <Fragment slot="headline">
              <TextReveal
                tag="h2"
                class="font-heading text-fluid-h2 font-semibold"
              >
                Rooted in London, connected
                <span class="relative !inline-block">
                  worldwide
                  <span
                    class="underline-gradient !absolute -bottom-[0.25em] -left-[0.1em] right-0 h-[0.5em] size-full"
                  >
                  </span>
                </span>
              </TextReveal>
            </Fragment>
          </BlockCardStacks>
        </LayoutLines>
      </LayoutTheme>
    </section>

    <section class={classSection}>
      <BlockLogoTicker />
    </section>

    <section class={classSection}>
      <BlockHeroText>
        <Fragment slot="headline">
          <TextReveal
            tag="h2"
            class="font-heading text-fluid-h2 font-semibold text-balance"
          >
            Stunning bespoke web design that captivates & converts
          </TextReveal>
        </Fragment>
      </BlockHeroText>
    </section>

    <section class={classSection}>
      <BlockOverlaps>
        <CardProjectHero
          title="Faith Ibiza"
          headline="VIP Ibiza Concierge Services"
          description="A full redesign of the Faith Ibiza website from the ground up, featuring stunning hero images and videography, delightful animations and an intuitive party calendar."
          cta="Explore Project"
          color="yellow"
        >
          <img
            src="/images/test-project-1.webp"
            width="673"
            height="379"
            alt=""
          />
        </CardProjectHero>

        <CardProjectHero
          title="Ballet with Isabella"
          headline="Elite Online Ballet Training"
          description="A bespoke WordPress build featuring a customer login area, a member live area and an on-demand online studio which houses over 100 classes, courses, plans and workshops for ballet students."
          cta="Explore Project"
          color="green"
        >
          <img
            src="/images/test-project-2.webp"
            width="673"
            height="379"
            alt=""
          />
        </CardProjectHero>

        <CardProjectHero
          title="Shirakawa 1958"
          headline="The World's Rarest Japanese Whisky"
          description="This bespoke WordPress and WooCommerce website build features elegant typography, a sumptuous colour palette and a super-slick checkout flow."
          cta="Explore Project"
          color="blue"
        >
          <img
            src="/images/test-project-3.webp"
            width="673"
            height="379"
            alt=""
          />
        </CardProjectHero>
      </BlockOverlaps>
    </section>

    <section class={classSection}>
      <BlockButtons>
        <a href="/">
          <Button text="View all projects" hasArrow />
        </a>
      </BlockButtons>
    </section>

    <section class={classSection}>
      <LayoutTheme theme="light">
        <LayoutLines theme="light" class={classSectionThick}>
          <BlockTestimonials />
        </LayoutLines>
      </LayoutTheme>
    </section>

    <section class={classSection}>
      <BlockFAQs color="yellow" shape="triangle" />
    </section>

    <section class={classSection}>
      <BlockCarouselPosts />
    </section>
  </main>
</Layout>
