---
import Layout from '@/layouts/Layout.astro';

import Button from '@/components/Elements/Button.astro';
import RichText from '@/components/Elements/RichText.astro';
import CardPrompt from '@/components/Card/Prompt.astro';
import IconList from '@/components/Elements/IconList.astro';
import Testimonial from '@/components/Elements/Testimonial.astro';
import Quote from '@/components/Elements/Quote.astro';
import UIBeforeAfter from '@/components/UI/BeforeAfter.astro';

import BlockHeroWork from '@/components/Block/HeroWork.astro';
import BlockPrompt from '@/components/Block/Prompt.astro';
import BlockMedia from '@/components/Block/Media.astro';
import BlockSplitTitleRichText from '@/components/Block/SplitTitleRichText.astro';

const classSection = 'py-50 md:py-[75px]';
---

<Layout title="Our Work">
  <main>
    <section class={classSection}>
      <BlockHeroWork
        title="Client name"
        heading="Elite online ballet training for every dancer’s journey"
        categories={[
          {
            shape: 'triangle',
            color: 'yellow',
            text: 'Web Design & Development',
          },
          { shape: 'square', color: 'green', text: 'SEO' },
          { shape: 'circle', color: 'blue', text: 'PPC' },
        ]}
        cta={{ label: 'Visit site', url: 'https://www.google.com' }}
      />
    </section>

    <section class={classSection}>
      <BlockMedia class="wrapper">
        <Fragment slot="media">
          <img
            src="/images/test-post-hero.jpg"
            width="1448"
            height="864"
            alt=""
          />
        </Fragment>
      </BlockMedia>
    </section>

    <section class={classSection}>
      <BlockSplitTitleRichText title="The challenge">
        <Fragment slot="richtext">
          <RichText>
            <h5>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore.
            </h5>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </RichText>

          <IconList
            items={[
              {
                icon: 'outline-arrow-right-box',
                text: 'Bespoke customer login area',
              },
              {
                icon: 'outline-wallet',
                text: 'Online payments & subscription management',
              },
              {
                icon: 'outline-filters',
                text: 'Intuitive filters & content feeds',
              },
            ]}
            color="yellow"
          />
        </Fragment>
      </BlockSplitTitleRichText>
    </section>

    <section class={classSection}>
      <BlockSplitTitleRichText title="The challenge">
        <Fragment slot="richtext">
          <RichText>
            <h5>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore.
            </h5>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </RichText>
        </Fragment>
      </BlockSplitTitleRichText>
    </section>

    <section class={classSection}>
      <BlockSplitTitleRichText title="The challenge">
        <Fragment slot="richtext">
          <Quote
            color="yellow"
            quote="Client quote block lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit"
            name="John Doe"
            company="Company Name"
          />
        </Fragment>
      </BlockSplitTitleRichText>
    </section>

    <section class={classSection}>
      <BlockSplitTitleRichText title="The challenge">
        <Fragment slot="richtext">
          <Testimonial
            color="yellow"
            quote="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            name="John Doe"
            company="Company Name"
          />
        </Fragment>
      </BlockSplitTitleRichText>
    </section>

    <section class={classSection}>
      <div class="wrapper">
        <UIBeforeAfter>
          <Fragment slot="before">
            <img src="/images/test-work-before.jpg" alt="" />
          </Fragment>

          <Fragment slot="after">
            <img src="/images/test-work-after.jpg" alt="" />
          </Fragment>
        </UIBeforeAfter>
      </div>
    </section>

    <section class={classSection}>
      <BlockPrompt>
        <CardPrompt shape="triangle" color="yellow">
          <Fragment slot="headline">
            <h3
              class="font-heading font-semibold text-fluid-h3 text-balance max-w-[20ch] lg:max-w-[14ch]"
            >
              Want to see more from our portfolio?
            </h3>
          </Fragment>

          <Fragment slot="button">
            <Button text="Get in touch" hasArrow />
          </Fragment>
        </CardPrompt>
      </BlockPrompt>
    </section>
  </main>
</Layout>
