---
import Layout from '@/layouts/Layout.astro';
import LayoutTheme from '@/components/Layout/Theme.astro';

import AccordionItem from '@/components/Accordion/Item.astro';
import AppHeaderLogo from '@/components/App/HeaderLogo.astro';
import Breadcrumb from '@/components/Elements/Breadcrumb.astro';
import Button from '@/components/Elements/Button.astro';
import CardAvatars from '@/components/Card/Avatars.astro';
import CardCta from '@/components/Card/Cta.astro';
import CardFigure from '@/components/Card/Figure.astro';
import CardPost from '@/components/Card/Post.astro';
import CardPostHero from '@/components/Card/PostHero.astro';
import CardMedia from '@/components/Card/Media.astro';
import CardProfile from '@/components/Card/Profile.astro';
import CardProfileSummary from '@/components/Card/ProfileSummary.astro';
import CardProject from '@/components/Card/Project.astro';
import CardRating from '@/components/Card/Rating.astro';
import CardService from '@/components/Card/Service.astro';
import CardServiceHero from '@/components/Card/ServiceHero.astro';
import CubeIcon from '@/components/Elements/CubeIcon.astro';
import Cursor from '@/components/Elements/Cursor.astro';
import Icon from '@/components/Elements/Icon.astro';
import LinkArrow from '@/components/Elements/LinkArrow.astro';
import ServiceItem from '@/components/Elements/ServiceItem.astro';
import StyleguideSection from '@/components/Tools/StyleguideSection.astro';
import TagList from '@/components/Elements/TagList.astro';
import RichText from '@/components/Elements/RichText.astro';

const imageMobileTest: ImageObject = {
  src: '/images/portrait-1.webp',
  alt: 'portrait 1',
  width: 900,
  height: 1600,
};

const imageDesktopTest: ImageObject = {
  src: '/images/landscape-1.webp',
  alt: 'landscape 1',
  width: 1600,
  height: 900,
};

const classCardGrid3 =
  'grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-12 lg:gap-30';

const classCardGrid2 = 'grid grid-cols-1 lg:grid-cols-2 gap-12 lg:gap-30';

const classCardCSSCols =
  'flex flex-col md:block md:columns-2 md:gap-30 max-w-[1200px] mx-auto';
---

<Layout title="Styleguide">
  <main>
    <section
      class="wrapper font-heading text-fluid-h1 my-120 font-semibold text-center opacity-50"
    >
      <h1>Styleguide</h1>
    </section>

    <StyleguideSection title="RichText">
      <RichText>
        <h2>Heading 2</h2>
        <h3>Heading 3</h3>
        <h4>Heading 4</h4>
        <h5>Heading 5</h5>
        <h6>Heading 6</h6>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
          voluptas cumque minus eaque quas, quaerat dignissimos, possimus
          laboriosam recusandae, fuga ea!
        </p>

        <p>Eum atque aliquam quidem magnam fuga accusamus neque modi!</p>

        <Fragment slot="ctas">
          <a href="/">
            <Button text="Primary CTA" hasArrow />
          </a>

          <a href="/">
            <Button type="secondary" text="Secondary CTA" />
          </a>
        </Fragment>
      </RichText>
    </StyleguideSection>

    <StyleguideSection title="Logo">
      <div class="flex flex-wrap gap-8">
        <AppHeaderLogo />
      </div>
    </StyleguideSection>

    <StyleguideSection title="Shapes">
      <div class="flex flex-wrap items-end gap-8">
        <Icon name="shape-triangle" class="block w-[23px] h-20 text-yellow" />
        <Icon name="shape-square" class="size-20 text-green block" />
        <Icon name="shape-circle" class="size-20 text-blue block" />
        <Icon name="shape-pentagon" class="block w-[21px] h-20 text-purple" />
      </div>
    </StyleguideSection>

    <StyleguideSection title="Links">
      <a class="block" href="/">
        <LinkArrow class="font-heading text-18 font-bold">
          This is a regular link
        </LinkArrow>
      </a>

      <br />

      <a class="block" href="/">
        <LinkArrow class="font-heading text-24 font-semibold">
          This is a link larger link
        </LinkArrow>
      </a>
    </StyleguideSection>

    <StyleguideSection title="Tag List">
      <TagList
        items={[
          { title: 'SEO', color: 'green' },
          { title: 'Web Design', color: 'yellow' },
          { title: 'PPC', color: 'blue' },
          { title: 'SEO', color: 'green' },
        ]}
      />

      <br />

      <TagList
        size="small"
        items={[
          { title: 'Wrapping dots test', color: 'green' },
          { title: 'Web Design', color: 'yellow' },
          { title: 'PPC', color: 'blue' },
          { title: 'SEO', color: 'green' },
          { title: 'Web Design', color: 'yellow' },
          { title: 'PPC', color: 'blue' },
          { title: 'SEO', color: 'green' },
          { title: 'Web Design', color: 'yellow' },
          { title: 'PPC', color: 'blue' },
        ]}
      />

      <br />

      <TagList
        size="large"
        items={[
          { title: 'SEO', color: 'green' },
          { title: 'Web Design', color: 'yellow' },
          { title: 'PPC', color: 'blue' },
        ]}
      />

      <br />

      <TagList
        size="large"
        items={[
          { title: 'Wrapping dots test', color: 'green' },
          { title: 'Web Design', color: 'yellow' },
          { title: 'PPC', color: 'blue' },
          { title: 'SEO', color: 'green' },
          { title: 'Web Design', color: 'yellow' },
          { title: 'PPC', color: 'blue' },
          { title: 'SEO', color: 'green' },
          { title: 'Web Design', color: 'yellow' },
          { title: 'PPC', color: 'blue' },
        ]}
      />
    </StyleguideSection>

    <StyleguideSection title="Cubes">
      <div class="flex flex-wrap gap-8">
        <CubeIcon
          icon={{ type: 'logo', name: 'logo-figma', hover: 'logo-figma-hover' }}
        />

        <CubeIcon
          icon={{ type: 'logo', name: 'logo-wp', hover: 'logo-wp-hover' }}
        />

        <CubeIcon
          icon={{ type: 'logo', name: 'logo-woo', hover: 'logo-woo-hover' }}
        />

        <CubeIcon
          icon={{
            type: 'logo',
            name: 'logo-laravel',
            hover: 'logo-laravel-hover',
          }}
        />

        <CubeIcon icon={{ type: 'outline', name: 'outline-info-paper' }} />

        <CubeIcon icon={{ type: 'outline', name: 'outline-info-basket' }} />

        <CubeIcon
          color="green"
          icon={{ type: 'outline', name: 'outline-info-paper' }}
        />

        <CubeIcon
          color="blue"
          icon={{ type: 'outline', name: 'outline-info-paper' }}
        />

        <CubeIcon
          color="yellow"
          icon={{ type: 'outline', name: 'outline-info-paper' }}
        />

        <CubeIcon
          color="purple"
          icon={{ type: 'outline', name: 'outline-info-paper' }}
        />
      </div>
    </StyleguideSection>

    <StyleguideSection title="Buttons">
      <div class="flex flex-wrap gap-8">
        <button type="button">
          <Button text="Button" hasArrow />
        </button>

        <button type="button">
          <Button
            text="Button"
            options={{
              textColor: 'white',
              bgColor: 'navy',
              borderColor: 'white',
            }}
          />
        </button>
      </div>

      <div class="bg-yellow flex flex-wrap gap-8 p-20 mt-40">
        <button type="button">
          <Button
            text="Button"
            optionsHover={{
              textColor: 'white',
              bgColor: 'navy',
            }}
            hasArrow
          />
        </button>

        <button type="button">
          <Button
            text="Button"
            options={{
              textColor: 'white',
              bgColor: 'navy',
              borderColor: 'transparent',
            }}
            optionsHover={{
              textColor: 'navy',
              bgColor: 'white',
            }}
          />
        </button>
      </div>

      <div class="bg-cream flex flex-wrap gap-8 p-20 mt-40">
        <button type="button">
          <Button
            text="Button"
            options={{
              textColor: 'white',
              bgColor: 'navy',
              borderColor: 'transparent',
            }}
            optionsHover={{
              textColor: 'white',
              bgColor: 'navy-light',
            }}
            hasArrow
          />
        </button>

        <button type="button">
          <Button
            text="Button"
            options={{
              borderColor: 'grey',
            }}
            optionsHover={{
              bgColor: 'white',
              borderColor: 'navy',
            }}
          />
        </button>
      </div>
    </StyleguideSection>

    <StyleguideSection title="Cursors">
      <div class="flex flex-wrap gap-8">
        <Cursor title="PPC Team" class="bg-blue" />
        <Cursor title="Design Team" class="bg-yellow" />
        <Cursor title="SEO Team" class="bg-green" />
        <Cursor title="Developers" class="bg-grey" />
      </div>
    </StyleguideSection>

    <StyleguideSection title="Breadcrumbs">
      <div class="flex flex-col items-start gap-8">
        <Breadcrumb
          shape="square"
          items={[
            { color: 'green', title: 'SEO', href: '/' },
            { color: 'green', title: 'SEO Audit Services', href: '/' },
          ]}
        />

        <Breadcrumb
          shape="triangle"
          items={[
            { color: 'yellow', title: 'Web Design', href: '/' },
            { color: 'yellow', title: 'WordPress Development', href: '/' },
          ]}
        />

        <Breadcrumb
          shape="circle"
          items={[
            { color: 'blue', title: 'PPC', href: '/' },
            { color: 'blue', title: 'PPC Ad Campaigns', href: '/' },
          ]}
        />
      </div>
    </StyleguideSection>

    <StyleguideSection title="Accordions">
      <div class="flex flex-wrap gap-8">
        <AccordionItem id="one">
          <h2 slot="header">
            How much does web design and development from Yellowball typically
            cost?
          </h2>

          <div slot="body">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </p>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </p>
          </div>
        </AccordionItem>
      </div>
    </StyleguideSection>

    <StyleguideSection title="Service Item">
      <ServiceItem
        headline="WordPress Development"
        description="Custom WordPress websites designed for flexibility, performance, and scalability. Power your brand with a platform trusted by millions."
      >
        <CubeIcon
          slot="icon"
          icon={{ type: 'logo', name: 'logo-wp', hover: 'logo-wp-hover' }}
        />
      </ServiceItem>
    </StyleguideSection>

    <StyleguideSection title="Card Project">
      <div class={classCardGrid3}>
        <div class="col-span-2">
          <CardProject
            imageMobile={imageMobileTest}
            imageDesktop={imageDesktopTest}
          />
        </div>
      </div>
    </StyleguideSection>

    <StyleguideSection title="Card Profile">
      <div class={classCardGrid3}>
        <CardProfile role="Director of SEO" name="Simon Ensor" color="green">
          <img
            class="size-full object-cover"
            src="/images/test-profile-1.webp"
            alt="Simon Ensor"
            width="1"
            height="1"
          />
        </CardProfile>

        <CardProfile role="Director of SEO" name="Simon Ensor" color="yellow">
          <img
            class="size-full object-cover"
            src="/images/test-profile-1.webp"
            alt="Simon Ensor"
            width="1"
            height="1"
          />
        </CardProfile>

        <CardProfile role="Director of SEO" name="Simon Ensor" color="purple">
          <img
            class="size-full object-cover"
            src="/images/test-profile-1.webp"
            alt="Simon Ensor"
            width="1"
            height="1"
          />
        </CardProfile>
      </div>
    </StyleguideSection>

    <StyleguideSection title="Card Profile Summary">
      <div class={classCardGrid3}>
        <CardProfileSummary
          title="Our Wider Team"
          copy="Lorem ipsum dolor sit amet consectetur. Convallis arcu congue in in interdum. Nibh metus ultricies morbi venenatis."
          color="green"
        >
          <img src="/images/test-avatar-1.webp" width="80" height="80" alt="" />
          <img src="/images/test-avatar-2.webp" width="80" height="80" alt="" />
          <img src="/images/test-avatar-3.webp" width="80" height="80" alt="" />
          <img src="/images/test-avatar-4.webp" width="80" height="80" alt="" />
          <img src="/images/test-avatar-5.webp" width="80" height="80" alt="" />
        </CardProfileSummary>
      </div>
    </StyleguideSection>

    <StyleguideSection title="Card Post">
      <div class={classCardGrid3}>
        <CardPost
          tags={[
            { title: 'Web Design', color: 'yellow' },
            { title: 'SEO', color: 'green' },
          ]}
          headline="10 Steps to a Reliable Website Marketing Strategy"
          color="yellow"
          time="3 Min Read"
        >
          <img src="/images/test-laptop.webp" width="500" height="300" alt="" />
        </CardPost>

        <CardPost
          tags={[{ title: 'SEO', color: 'green' }]}
          headline="A WordPress SEO Expert Approach to SEO Friendly Websites That Google Loves"
          color="green"
          time="14 Min Read"
        >
          <img src="/images/test-laptop.webp" width="500" height="300" alt="" />
        </CardPost>

        <CardPost
          tags={[{ title: 'PPC', color: 'blue' }]}
          headline="A Beginner's Guide to Website Maintenance"
          color="blue"
          time="3 Min Read"
        >
          <img src="/images/test-laptop.webp" width="500" height="300" alt="" />
        </CardPost>
      </div>
    </StyleguideSection>

    <StyleguideSection title="Card Post Hero">
      <CardPostHero
        tags={[
          { title: 'SEO', color: 'green' },
          { title: 'Web Design', color: 'yellow' },
          { title: 'PPC', color: 'blue' },
        ]}
        headline="10 Steps to a Reliable Website Marketing Strategy"
        color="purple"
        time="3 Min Read"
      >
        <img src="/images/test-post-hero.jpg" width="500" height="300" alt="" />
      </CardPostHero>
    </StyleguideSection>

    <StyleguideSection title="Card Rating">
      <div class:list={[classCardGrid3, 'items-center']}>
        <CardRating
          quote="I'm delighted with the finished website & delivery of the project."
          name="Isabella"
          company="Ballet with Isabella"
        >
          <img src="/images/test-laptop.webp" width="500" height="300" alt="" />
        </CardRating>

        <CardRating
          quote="I've been really delighted by Yellowball's efficiency and expertise since signing up with them 3 months ago to build a new website, SEO and PPC. They are clearly leaders in their field and I can highly recommend them."
          name="Christopher Eden"
          company="Santis Health"
        />

        <CardRating
          quote="The team understood exactly what I wanted from the beginning."
          name="Pollyanna"
          company="Rosa & Blue"
        >
          <img src="/images/test-laptop.webp" width="500" height="300" alt="" />
        </CardRating>
      </div>
    </StyleguideSection>

    <StyleguideSection title="Card Service Hero">
      <div class={classCardGrid3}>
        <CardServiceHero
          headline="Web Design"
          description="We craft visually stunning, user-friendly websites that engage and convert your audience."
          cta="See our services"
          shape="triangle"
          color="yellow"
          class="col-span-full"
        >
          <img
            src="/images/test-service-1.webp"
            width="1230"
            height="756"
            alt="test"
          />
        </CardServiceHero>
      </div>
    </StyleguideSection>

    <StyleguideSection title="Card Service">
      <div class={classCardGrid2}>
        <CardService
          headline="SEO"
          description="Rank higher and grow your business faster with our leading SEO team. We'll get your site to the top of Google to increase revenue, leads and results."
          shape="square"
          color="green"
        >
          <img
            src="/images/test-service-2.webp"
            width="1032"
            height="430"
            alt=""
          />
        </CardService>

        <CardService
          headline="SEO"
          description="Rank higher and grow your business faster with our leading SEO team. We'll get your site to the top of Google to increase revenue, leads and results."
          shape="square"
          color="green"
        >
          <img
            src="/images/test-service-2.webp"
            width="1032"
            height="430"
            alt=""
          />
        </CardService>
      </div>
    </StyleguideSection>

    <StyleguideSection title="Card Stacks (Avatars, Media, Figure, Cta)">
      <div class="xl:grid xl:grid-cols-12 xl:gap-30">
        <div class:list={[classCardCSSCols, 'col-span-10 [&>*]:mb-30']}>
          <CardAvatars
            headline="Our Agency"
            description="Lorem ipsum dolor sit amet consectetur. Vitae tempor sollicitudin magna risus nunc. Id est aliquam cursus."
          >
            <img
              src="/images/test-avatar-1.webp"
              width="80"
              height="80"
              alt=""
            />
            <img
              src="/images/test-avatar-2.webp"
              width="80"
              height="80"
              alt=""
            />
            <img
              src="/images/test-avatar-3.webp"
              width="80"
              height="80"
              alt=""
            />
            <img
              src="/images/test-avatar-4.webp"
              width="80"
              height="80"
              alt=""
            />
            <img
              src="/images/test-avatar-5.webp"
              width="80"
              height="80"
              alt=""
            />
          </CardAvatars>

          <CardMedia
            headline="Global Reach, Local Expertise"
            description="With teams in London and South Africa, we combine local insights with a global perspective to deliver world-class digital solutions."
          >
            <img
              src="/images/test-project-1.webp"
              width="673"
              height="379"
              alt=""
            />
          </CardMedia>

          <CardFigure
            figure={84}
            unit="%"
            headline="Client Retention"
            description="84% of our clients stay with us for three years or more, because when you build trust and deliver real results, why go anywhere else?"
            color="blue"
            shape="circle"
          />

          <CardCta
            headline="Ready to start your next project? Call, live chat or send us a message today"
            cta="Get in touch"
          />
        </div>
      </div>
    </StyleguideSection>

    <LayoutTheme theme="light" class="py-100">
      <StyleguideSection title="Light Theme Layout">
        <div
          class="flex flex-col min-h-[50vh] items-center justify-center text-center"
        >
          <p
            class="font-heading text-fluid-h3 opacity-30 text-balance font-bold"
          >
            The header changes to light theme when it scrolls into this section
          </p>
        </div>
      </StyleguideSection>
    </LayoutTheme>
  </main>
</Layout>
