---
import Layout from '@/layouts/Layout.astro';
import LayoutTheme from '@/components/Layout/Theme.astro';

import AccordionItem from '@/components/Accordion/Item.astro';
import AppHeaderLogo from '@/components/App/Header/Logo.astro';
import Breadcrumb from '@/components/Elements/Breadcrumb.astro';
import Button from '@/components/Elements/Button.astro';
import CardAvatars from '@/components/Card/Avatars.astro';
import CardCta from '@/components/Card/Cta.astro';
import CardFigure from '@/components/Card/Figure.astro';
import CardInfo from '@/components/Card/Info.astro';
import CardPost from '@/components/Card/Post.astro';
import CardPostHero from '@/components/Card/PostHero.astro';
import CardPrompt from '@/components/Card/Prompt.astro';
import CardMedia from '@/components/Card/Media.astro';
import CardProfile from '@/components/Card/Profile.astro';
import CardProfileSummary from '@/components/Card/ProfileSummary.astro';
import CardProject from '@/components/Card/Project.astro';
import CardRating from '@/components/Card/Rating.astro';
import CardService from '@/components/Card/Service.astro';
import CardServiceHero from '@/components/Card/ServiceHero.astro';
import CookieDialog from '@/components/UI/CookieDialog.astro';
import CubeIcon from '@/components/Elements/CubeIcon.astro';
import Cursor from '@/components/Elements/Cursor.astro';
import FormCheckbox from '@/components/Fields/Checkbox.astro';
import FormControl from '@/components/Fields/Control.astro';
import FormGroup from '@/components/Fields/Group.astro';
import FormInput from '@/components/Fields/Input.astro';
import FormFile from '@/components/Fields/File.astro';
import Icon from '@/components/Elements/Icon.astro';
import LinkArrow from '@/components/Elements/LinkArrow.astro';
import Modal from '@/components/UI/Modal.astro';
import RichText from '@/components/Elements/RichText.astro';
import ServiceItem from '@/components/Elements/ServiceItem.astro';
import StyleguideSection from '@/components/Tools/StyleguideSection.astro';
import TagList from '@/components/Elements/TagList.astro';

const classCardGrid1 = 'grid grid-cols-1 gap-12 lg:gap-30';
const classCardGrid2 = 'grid grid-cols-1 lg:grid-cols-2 gap-12 lg:gap-30';
const classCardGrid3 =
  'grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-12 lg:gap-30';
const classCardCSSCols =
  'flex flex-col md:block md:columns-2 md:gap-30 max-w-[1200px] mx-auto';
---

<Layout title="Styleguide">
  <main>
    <section
      class="wrapper font-heading text-fluid-h1 my-120 font-semibold text-center opacity-50"
    >
      <h1>Styleguide</h1>
    </section>

    <StyleguideSection title="Modal">
      <Modal>
        <Fragment slot="trigger">
          <Button text="Open Modal" />
        </Fragment>

        <Fragment slot="content">
          <RichText>
            <h3>Modale</h3>

            <p>
              Lorem ipsum odor amet, consectetuer adipiscing elit. Diam maximus
              sociosqu luctus interdum nostra volutpat fames ipsum porttitor. Ad
              dictum facilisis nisl blandit augue justo tristique ultrices
              lacus. Curae erat sapien consectetur condimentum elit urna leo.
              Neque nascetur justo leo luctus etiam risus. Hendrerit molestie
              cursus nibh maecenas platea suscipit nisi sociosqu urna. Eleifend
              sed quam nec natoque dis condimentum cursus mi at. Ultrices
              finibus dolor taciti fermentum egestas fames blandit hac.
              Elementum nisl curabitur maximus elementum at.
            </p>

            <p>
              Habitasse mauris feugiat, tortor finibus phasellus eleifend?
              Vestibulum maximus natoque aptent vel metus sodales suscipit leo!
              Sodales ullamcorper lectus curae efficitur massa aptent. Class
              viverra at sed curabitur porttitor fames fames hendrerit massa.
              Mattis ligula nascetur mauris mollis phasellus venenatis cursus
              imperdiet. Sapien rutrum tincidunt lacus pulvinar ac consequat!
              Accumsan ornare urna commodo ipsum at; erat elementum risus
              posuere. Eget diam duis mus quis risus arcu; dignissim
              ullamcorper. Etiam velit primis erat; sociosqu fusce rutrum aenean
              at vestibulum.
            </p>

            <p>
              Magna magna etiam vulputate potenti primis eu. Varius nullam metus
              neque magna commodo pharetra litora venenatis. Ante tortor hac
              tempor nibh a adipiscing. Venenatis faucibus elementum erat
              eleifend sollicitudin nullam duis augue. Ex himenaeos dictumst
              suscipit quam neque. Duis phasellus sodales litora ex neque
              finibus. Platea pharetra ex duis facilisis auctor habitant.
              Iaculis eleifend nibh enim torquent odio dis? Egestas orci duis
              bibendum luctus curabitur porta.
            </p>

            <h4>Avanti amico mio</h4>

            <p>
              Ad sit class taciti duis potenti hac rutrum. Duis pellentesque
              habitasse phasellus risus rhoncus curae lorem. Posuere tempor
              accumsan nostra consectetur eu finibus adipiscing quisque.
              Tincidunt vestibulum proin leo laoreet quis. Neque dignissim
              fringilla tellus imperdiet condimentum. Netus suscipit integer
              nibh platea tristique litora sem augue. Per facilisi velit sodales
              faucibus vel vulputate.
            </p>

            <p>
              Consequat volutpat torquent, posuere magna praesent ad. Arcu vel
              tincidunt laoreet potenti congue. Accumsan aenean nisi auctor
              adipiscing penatibus convallis tempus aliquet sapien. Sed aliquam
              primis adipiscing nam duis. Nascetur faucibus potenti dictumst nec
              finibus ornare magna nullam. Morbi erat hendrerit viverra sit
              suspendisse augue posuere curae. Blandit nisi interdum mollis
              porttitor euismod placerat laoreet ante.
            </p>

            <p>
              Et erat viverra facilisi taciti vehicula scelerisque efficitur.
              Interdum ligula ante bibendum litora pharetra aptent. Ligula enim
              platea litora orci natoque pulvinar. Orci curabitur imperdiet
              turpis suspendisse facilisis, dis pharetra phasellus. Sit fames
              mus eget in interdum malesuada. Ac phasellus metus ac dictum
              posuere sed torquent eros. Nostra sagittis fringilla aliquam leo;
              leo facilisi turpis. Vehicula condimentum adipiscing netus
              suspendisse elementum. Penatibus semper class nibh; urna iaculis
              ridiculus convallis laoreet.
            </p>

            <h4>È stato un piacere</h4>

            <p>
              Ridiculus porta molestie ultrices molestie ad dis praesent quam.
              Dictum pharetra in rutrum nibh et vulputate. Morbi etiam leo
              auctor volutpat rhoncus fusce pharetra tempus. Massa penatibus
              natoque duis nam diam habitant posuere maximus. Condimentum
              gravida arcu risus rhoncus urna. Nam vestibulum nisi felis ipsum
              cras. Cursus urna tortor non, tristique fames aliquam facilisis
              praesent. Vivamus netus diam porta magnis risus congue quam
              ridiculus. Id eros turpis facilisi nulla eget pretium aenean.
            </p>

            <p>
              Odio molestie praesent enim malesuada ante placerat ligula. Eu
              imperdiet nascetur augue senectus quisque donec ad sapien urna.
              Iaculis posuere ullamcorper placerat pellentesque penatibus.
              Egestas faucibus ipsum lorem tincidunt nisi. Diam ligula sed
              natoque eu mauris per primis. Ex natoque ad sed ipsum aliquet
              netus duis duis.
            </p>

            <p>
              Litora conubia hendrerit finibus fringilla commodo posuere.
              Hendrerit tempor pellentesque cursus porttitor dui senectus
              habitant pulvinar. Vitae egestas velit mauris maecenas sapien.
              Ullamcorper tempus potenti imperdiet pretium eros porta tempor.
              Hendrerit turpis aliquet at fringilla proin. Luctus fusce finibus
              nulla posuere lacus sagittis odio ut turpis. Ultricies luctus
              nullam litora aptent potenti dictumst hendrerit dignissim fusce.
              Magna consequat vitae condimentum sociosqu nisi duis lacus proin
              enim. Porta integer dignissim auctor a tellus libero consequat
              orci.
            </p>

            <h6>Finalmente</h6>

            <p>
              Rhoncus mus per erat magna vitae porta habitant ad adipiscing.
              Litora feugiat dapibus inceptos varius condimentum luctus nec.
              Tortor vel molestie sollicitudin posuere non et quisque. Fringilla
              purus penatibus fringilla risus vivamus mauris. Commodo facilisis
              nisi vehicula hendrerit himenaeos senectus quisque. Tellus gravida
              amet nunc nullam dis. Ornare justo ante sapien fringilla maecenas
              parturient. Scelerisque aenean nec tempor nullam class diam
              venenatis. Sem in hac bibendum condimentum, mollis aliquam felis.
              Volutpat eu et felis mattis eu fringilla est congue interdum.
            </p>
          </RichText>
        </Fragment>
      </Modal>
    </StyleguideSection>

    <StyleguideSection title="RichText">
      <div class={classCardGrid1}>
        <RichText>
          <h1>Heading 1</h1>
          <h2>Heading 2</h2>
          <h3>Heading 3</h3>
          <h4>Heading 4</h4>
          <h5>Heading 5</h5>
          <h6>Heading 6</h6>

          <p>
            Lorem ipsum <em>dolor sit amet consectetur</em> adipisicing elit. Aliquam
            voluptas <strong>cumque minus eaque</strong> quas, quaerat dignissimos,
            possimus laboriosam recusandae, fuga ea! Hendrerit quaerat dui senectus
            dignissimos
            <a href="#">tempor pellentesque</a> cursus porttitor.
          </p>

          <p>
            Litora conubia hendrerit finibus fringilla commodo posuere.
            Hendrerit tempor pellentesque cursus porttitor dui senectus habitant
            pulvinar. Vitae egestas velit <strong>mauris maecenas</strong> sapien.
            Ullamcorper tempus potenti imperdiet pretium eros porta tempor. Hendrerit
            turpis aliquet at fringilla proin. Luctus fusce finibus nulla posuere
            lacus sagittis odio ut turpis.
          </p>

          <ul>
            <li>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Inventore perspiciatis <em>ducimus ad mollitia</em> repudiandae repellendus
              aliquid unde, delectus minima, nostrum dolorem rerum vel ex rem atque.
              Doloremque beatae eos ad?
            </li>
            <li>Voluptatem voluptatum quibusdam quia nemo doloribus.</li>
            <li>Ultricies luctus dictumst hendrerit dignissim fusce</li>
          </ul>

          <p>
            Odio molestie praesent enim malesuada ante placerat ligula. Eu
            imperdiet nascetur augue senectus quisque donec ad sapien urna.
            Iaculis posuere <strong>ullamcorper placerat</strong> pellentesque penatibus.
            Egestas faucibus ipsum lorem tincidunt nisi. Diam ligula sed natoque
            eu mauris per primis. Ex natoque ad sed ipsum aliquet netus duis duis.
          </p>

          <ol>
            <li>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Inventore perspiciatis ducimus, ad mollitia repudiandae
              repellendus aliquid unde, delectus minima, nostrum dolorem rerum
              vel ex rem atque. Doloremque beatae eos ad?
            </li>
            <li>Voluptatem voluptatum quibusdam quia nemo doloribus.</li>
            <li>Ultricies luctus dictumst hendrerit dignissim fusce</li>
          </ol>

          <p>Eum atque aliquam quidem magnam fuga accusamus neque modi!</p>

          <Fragment slot="ctas">
            <a href="/">
              <Button text="Primary CTA" hasArrow />
            </a>

            <a href="/">
              <Button
                options={{
                  textColor: 'white',
                  bgColor: 'navy',
                  borderColor: 'white',
                }}
                text="Secondary CTA"
              />
            </a>
          </Fragment>
        </RichText>

        <div class="light p-40 bg-cream">
          <RichText>
            <h1>Heading 1</h1>
            <h2>Heading 2</h2>
            <h3>Heading 3</h3>
            <h4>Heading 4</h4>
            <h5>Heading 5</h5>
            <h6>Heading 6</h6>

            <p>
              Lorem ipsum <em>dolor sit amet consectetur</em> adipisicing elit. Aliquam
              voluptas <strong>cumque minus eaque</strong> quas, quaerat dignissimos,
              possimus laboriosam recusandae, fuga ea! Hendrerit quaerat dui senectus
              dignissimos
              <a href="#">tempor pellentesque</a> cursus porttitor.
            </p>

            <p>
              Litora conubia hendrerit finibus fringilla commodo posuere.
              Hendrerit tempor pellentesque cursus porttitor dui senectus
              habitant pulvinar. Vitae egestas velit <strong>
                mauris maecenas
              </strong> sapien. Ullamcorper tempus potenti imperdiet pretium eros
              porta tempor. Hendrerit turpis aliquet at fringilla proin. Luctus fusce
              finibus nulla posuere lacus sagittis odio ut turpis.
            </p>

            <ul>
              <li>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Inventore perspiciatis <em>ducimus ad mollitia</em> repudiandae repellendus
                aliquid unde, delectus minima, nostrum dolorem rerum vel ex rem atque.
                Doloremque beatae eos ad?
              </li>
              <li>Voluptatem voluptatum quibusdam quia nemo doloribus.</li>
              <li>Ultricies luctus dictumst hendrerit dignissim fusce</li>
            </ul>

            <p>
              Odio molestie praesent enim malesuada ante placerat ligula. Eu
              imperdiet nascetur augue senectus quisque donec ad sapien urna.
              Iaculis posuere <strong>ullamcorper placerat</strong> pellentesque
              penatibus. Egestas faucibus ipsum lorem tincidunt nisi. Diam ligula
              sed natoque eu mauris per primis. Ex natoque ad sed ipsum aliquet netus
              duis duis.
            </p>

            <ol>
              <li>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Inventore perspiciatis ducimus, ad mollitia repudiandae
                repellendus aliquid unde, delectus minima, nostrum dolorem rerum
                vel ex rem atque. Doloremque beatae eos ad?
              </li>
              <li>Voluptatem voluptatum quibusdam quia nemo doloribus.</li>
              <li>Ultricies luctus dictumst hendrerit dignissim fusce</li>
            </ol>

            <p>Eum atque aliquam quidem magnam fuga accusamus neque modi!</p>

            <Fragment slot="ctas">
              <a href="/">
                <Button text="Primary CTA" hasArrow />
              </a>

              <a href="/">
                <Button
                  options={{
                    textColor: 'white',
                    bgColor: 'navy',
                    borderColor: 'white',
                  }}
                  text="Secondary CTA"
                />
              </a>
            </Fragment>
          </RichText>
        </div>
      </div>
    </StyleguideSection>

    <StyleguideSection title="Logo">
      <div class="flex flex-wrap gap-8">
        <AppHeaderLogo />
      </div>
    </StyleguideSection>

    <StyleguideSection title="Shapes">
      <div class="flex flex-wrap items-end gap-8">
        <Icon name="shape-triangle" class="block w-[23px] h-20 text-yellow" />
        <Icon name="shape-square" class="size-20 text-green block" />
        <Icon name="shape-circle" class="size-20 text-blue block" />
        <Icon name="shape-pentagon" class="block w-[21px] h-20 text-purple" />
      </div>
    </StyleguideSection>

    <StyleguideSection title="Links">
      <a class="block" href="/">
        <LinkArrow class="font-heading text-18 font-bold">
          This is a regular link
        </LinkArrow>
      </a>

      <br />

      <a class="block" href="/">
        <LinkArrow class="font-heading text-24 font-semibold">
          This is a link larger link
        </LinkArrow>
      </a>
    </StyleguideSection>

    <StyleguideSection title="Tag List">
      <TagList
        items={[
          { title: 'SEO', color: 'green' },
          { title: 'Web Design', color: 'yellow' },
          { title: 'PPC', color: 'blue' },
          { title: 'SEO', color: 'green' },
        ]}
      />

      <br />

      <TagList
        size="small"
        items={[
          { title: 'Wrapping dots test', color: 'green' },
          { title: 'Web Design', color: 'yellow' },
          { title: 'PPC', color: 'blue' },
          { title: 'SEO', color: 'green' },
          { title: 'Web Design', color: 'yellow' },
          { title: 'PPC', color: 'blue' },
          { title: 'SEO', color: 'green' },
          { title: 'Web Design', color: 'yellow' },
          { title: 'PPC', color: 'blue' },
        ]}
      />

      <br />

      <TagList
        size="large"
        items={[
          { title: 'SEO', color: 'green' },
          { title: 'Web Design', color: 'yellow' },
          { title: 'PPC', color: 'blue' },
        ]}
      />

      <br />

      <TagList
        size="large"
        items={[
          { title: 'Wrapping dots test', color: 'green' },
          { title: 'Web Design', color: 'yellow' },
          { title: 'PPC', color: 'blue' },
          { title: 'SEO', color: 'green' },
          { title: 'Web Design', color: 'yellow' },
          { title: 'PPC', color: 'blue' },
          { title: 'SEO', color: 'green' },
          { title: 'Web Design', color: 'yellow' },
          { title: 'PPC', color: 'blue' },
        ]}
      />
    </StyleguideSection>

    <StyleguideSection title="Cookie Banner">
      <CookieDialog />
    </StyleguideSection>

    <StyleguideSection title="Cubes">
      <div class="flex flex-wrap gap-8">
        <CubeIcon
          icon={{ type: 'logo', name: 'logo-figma', hover: 'logo-figma-hover' }}
        />

        <CubeIcon
          icon={{ type: 'logo', name: 'logo-wp', hover: 'logo-wp-hover' }}
        />

        <CubeIcon
          icon={{ type: 'logo', name: 'logo-woo', hover: 'logo-woo-hover' }}
        />

        <CubeIcon
          icon={{
            type: 'logo',
            name: 'logo-laravel',
            hover: 'logo-laravel-hover',
          }}
        />

        <CubeIcon icon={{ type: 'outline', name: 'outline-info-paper' }} />

        <CubeIcon icon={{ type: 'outline', name: 'outline-info-basket' }} />

        <CubeIcon
          color="green"
          icon={{ type: 'outline', name: 'outline-info-paper' }}
        />

        <CubeIcon
          color="blue"
          icon={{ type: 'outline', name: 'outline-info-paper' }}
        />

        <CubeIcon
          color="yellow"
          icon={{ type: 'outline', name: 'outline-info-paper' }}
        />

        <CubeIcon
          color="purple"
          icon={{ type: 'outline', name: 'outline-info-paper' }}
        />
      </div>
    </StyleguideSection>

    <StyleguideSection title="Buttons">
      <div class="flex flex-wrap gap-8">
        <button type="button">
          <Button text="Button" hasArrow />
        </button>

        <button type="button">
          <Button
            text="Button"
            options={{
              textColor: 'white',
              bgColor: 'navy',
              borderColor: 'white',
            }}
          />
        </button>
      </div>

      <div class="bg-yellow flex flex-wrap gap-8 p-20 mt-40">
        <button type="button">
          <Button
            text="Button"
            optionsHover={{
              textColor: 'white',
              bgColor: 'navy',
            }}
            hasArrow
          />
        </button>

        <button type="button">
          <Button
            text="Button"
            options={{
              textColor: 'white',
              bgColor: 'navy',
              borderColor: 'transparent',
            }}
            optionsHover={{
              textColor: 'navy',
              bgColor: 'white',
            }}
          />
        </button>
      </div>

      <div class="bg-cream flex flex-wrap gap-8 p-20 mt-40">
        <button type="button">
          <Button
            text="Button"
            options={{
              textColor: 'white',
              bgColor: 'navy',
              borderColor: 'transparent',
            }}
            optionsHover={{
              textColor: 'white',
              bgColor: 'navy-light',
            }}
            hasArrow
          />
        </button>

        <button type="button">
          <Button
            text="Button"
            options={{
              borderColor: 'grey',
            }}
            optionsHover={{
              bgColor: 'white',
              borderColor: 'navy',
            }}
          />
        </button>
      </div>
    </StyleguideSection>

    <StyleguideSection title="Cursors">
      <div class="flex flex-wrap gap-8">
        <Cursor title="PPC Team" class="bg-blue" />
        <Cursor title="Design Team" class="bg-yellow" />
        <Cursor title="SEO Team" class="bg-green" />
        <Cursor title="Developers" class="bg-grey" />
      </div>
    </StyleguideSection>

    <StyleguideSection title="Breadcrumbs">
      <div class="flex flex-col items-start gap-8">
        <Breadcrumb
          shape="square"
          items={[
            { color: 'green', title: 'SEO', href: '/' },
            { color: 'green', title: 'SEO Audit Services', href: '/' },
          ]}
        />

        <Breadcrumb
          shape="triangle"
          items={[
            { color: 'yellow', title: 'Web Design', href: '/' },
            { color: 'yellow', title: 'WordPress Development', href: '/' },
          ]}
        />

        <Breadcrumb
          shape="circle"
          items={[
            { color: 'blue', title: 'PPC', href: '/' },
            { color: 'blue', title: 'PPC Ad Campaigns', href: '/' },
          ]}
        />
      </div>
    </StyleguideSection>

    <StyleguideSection title="Accordions">
      <div class="flex flex-wrap gap-8">
        <AccordionItem id="one">
          <h2 slot="header">
            How much does web design and development from Yellowball typically
            cost?
          </h2>

          <div slot="body">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </p>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </p>
          </div>
        </AccordionItem>
      </div>
    </StyleguideSection>

    <StyleguideSection title="Service Item">
      <ServiceItem
        headline="WordPress Development"
        description="Custom WordPress websites designed for flexibility, performance, and scalability. Power your brand with a platform trusted by millions."
      >
        <CubeIcon
          slot="icon"
          icon={{ type: 'logo', name: 'logo-wp', hover: 'logo-wp-hover' }}
        />
      </ServiceItem>
    </StyleguideSection>

    <StyleguideSection title="Card Project">
      <div class={classCardGrid3}>
        <div class="col-span-2">
          <CardProject
            imageMobile={{
              src: '/images/portrait-1.webp',
              alt: 'portrait 1',
              width: 900,
              height: 1600,
            }}
            imageDesktop={{
              src: '/images/landscape-1.webp',
              alt: 'landscape 1',
              width: 1600,
              height: 900,
            }}
          />
        </div>
      </div>
    </StyleguideSection>

    <StyleguideSection title="Card Prompt">
      <div class={classCardGrid1}>
        <CardPrompt shape="square" color="green">
          <Fragment slot="headline">
            <h3
              class="font-heading font-semibold text-fluid-h3 text-balance max-w-[20ch] lg:max-w-[14ch]"
            >
              Ready to start your SEO Campaign?
            </h3>
          </Fragment>

          <Fragment slot="button">
            <Button text="Get a quote today" hasArrow />
          </Fragment>
        </CardPrompt>

        <CardPrompt shape="square" color="green" theme="light">
          <Fragment slot="headline">
            <h3
              class="font-heading font-semibold text-fluid-h3 text-balance max-w-[20ch] lg:max-w-[14ch]"
            >
              Ready to start your SEO Campaign?
            </h3>
          </Fragment>

          <Fragment slot="button">
            <Button
              text="Get a quote today"
              options={{
                textColor: 'white',
                bgColor: 'navy',
              }}
              hasArrow
            />
          </Fragment>
        </CardPrompt>
      </div>
    </StyleguideSection>

    <StyleguideSection title="Card Prompt (Mini)">
      <div class={classCardGrid2}>
        <CardPrompt shape="square" color="green" mini hasArrow>
          <Fragment slot="headline">
            <h3
              class="font-heading font-semibold text-28 text-balance max-w-[20ch] lg:max-w-[14ch]"
            >
              Discover our Web Services
            </h3>
          </Fragment>
        </CardPrompt>

        <div class="light">
          <CardPrompt
            shape="triangle"
            color="yellow"
            theme="light"
            mini
            hasArrow
          >
            <Fragment slot="headline">
              <h3
                class="font-heading font-semibold text-28 text-balance max-w-[20ch] lg:max-w-[14ch]"
              >
                Speak to a Web Expert
              </h3>
            </Fragment>
          </CardPrompt>
        </div>
      </div>
    </StyleguideSection>

    <StyleguideSection title="Card Info">
      <div class={classCardGrid2}>
        <CardInfo title="Contact Details">
          <p class="text-white font-heading text-18 md:text-20">
            <a href="mailto:info@weareyellowball.com">
              info@weareyellowball.com
            </a>
          </p>

          <p class="text-white font-heading text-18 md:text-20">
            020 8049 3080
          </p>
        </CardInfo>

        <CardInfo title="Address">
          <address class="text-white font-heading text-18 md:text-20">
            Borough Yards, 13 Dirty Lane, London, SE1 9PA
          </address>
        </CardInfo>
      </div>
    </StyleguideSection>

    <StyleguideSection title="Card Profile">
      <div class={classCardGrid3}>
        <CardProfile role="Director of SEO" name="Simon Ensor" color="green">
          <img
            class="size-full object-cover"
            src="/images/test-profile-1.webp"
            alt="Simon Ensor"
            width="1"
            height="1"
          />
        </CardProfile>

        <CardProfile role="Director of SEO" name="Simon Ensor" color="yellow">
          <img
            class="size-full object-cover"
            src="/images/test-profile-1.webp"
            alt="Simon Ensor"
            width="1"
            height="1"
          />
        </CardProfile>

        <CardProfile role="Director of SEO" name="Simon Ensor" color="purple">
          <img
            class="size-full object-cover"
            src="/images/test-profile-1.webp"
            alt="Simon Ensor"
            width="1"
            height="1"
          />
        </CardProfile>
      </div>
    </StyleguideSection>

    <StyleguideSection title="Card Profile Summary">
      <div class={classCardGrid3}>
        <CardProfileSummary
          title="Our Wider Team"
          copy="Lorem ipsum dolor sit amet consectetur. Convallis arcu congue in in interdum. Nibh metus ultricies morbi venenatis."
          color="green"
        >
          <img src="/images/test-avatar-1.webp" width="80" height="80" alt="" />
          <img src="/images/test-avatar-2.webp" width="80" height="80" alt="" />
          <img src="/images/test-avatar-3.webp" width="80" height="80" alt="" />
          <img src="/images/test-avatar-4.webp" width="80" height="80" alt="" />
          <img src="/images/test-avatar-5.webp" width="80" height="80" alt="" />
        </CardProfileSummary>
      </div>
    </StyleguideSection>

    <StyleguideSection title="Card Post">
      <div class={classCardGrid3}>
        <CardPost
          tags={[
            { title: 'Web Design', color: 'yellow' },
            { title: 'SEO', color: 'green' },
          ]}
          headline="10 Steps to a Reliable Website Marketing Strategy"
          color="yellow"
          time="3 Min Read"
        >
          <img src="/images/test-laptop.webp" width="500" height="300" alt="" />
        </CardPost>

        <CardPost
          tags={[{ title: 'SEO', color: 'green' }]}
          headline="A WordPress SEO Expert Approach to SEO Friendly Websites That Google Loves"
          color="green"
          time="14 Min Read"
        >
          <img src="/images/test-laptop.webp" width="500" height="300" alt="" />
        </CardPost>

        <CardPost
          tags={[{ title: 'PPC', color: 'blue' }]}
          headline="A Beginner's Guide to Website Maintenance"
          color="blue"
          time="3 Min Read"
        >
          <img src="/images/test-laptop.webp" width="500" height="300" alt="" />
        </CardPost>
      </div>
    </StyleguideSection>

    <StyleguideSection title="Card Post Hero">
      <CardPostHero
        tags={[
          { title: 'SEO', color: 'green' },
          { title: 'Web Design', color: 'yellow' },
          { title: 'PPC', color: 'blue' },
        ]}
        headline="10 Steps to a Reliable Website Marketing Strategy"
        color="purple"
        time="3 Min Read"
      >
        <img src="/images/test-post-hero.jpg" width="500" height="300" alt="" />
      </CardPostHero>
    </StyleguideSection>

    <StyleguideSection title="Card Rating">
      <div class:list={[classCardGrid3, 'items-center']}>
        <CardRating
          quote="I'm delighted with the finished website & delivery of the project."
          name="Isabella"
          company="Ballet with Isabella"
        >
          <img src="/images/test-laptop.webp" width="500" height="300" alt="" />
        </CardRating>

        <CardRating
          quote="I've been really delighted by Yellowball's efficiency and expertise since signing up with them 3 months ago to build a new website, SEO and PPC. They are clearly leaders in their field and I can highly recommend them."
          name="Christopher Eden"
          company="Santis Health"
        />

        <CardRating
          quote="The team understood exactly what I wanted from the beginning."
          name="Pollyanna"
          company="Rosa & Blue"
        >
          <img src="/images/test-laptop.webp" width="500" height="300" alt="" />
        </CardRating>
      </div>
    </StyleguideSection>

    <StyleguideSection title="Card Service Hero">
      <div class={classCardGrid3}>
        <CardServiceHero
          headline="Web Design"
          description="We craft visually stunning, user-friendly websites that engage and convert your audience."
          cta="See our services"
          shape="triangle"
          color="yellow"
          class="col-span-full"
        >
          <img
            src="/images/test-service-1.webp"
            width="1230"
            height="756"
            alt="test"
          />
        </CardServiceHero>
      </div>
    </StyleguideSection>

    <StyleguideSection title="Card Service">
      <div class={classCardGrid2}>
        <CardService
          headline="SEO"
          description="Rank higher and grow your business faster with our leading SEO team. We'll get your site to the top of Google to increase revenue, leads and results."
          shape="square"
          color="green"
        >
          <img
            src="/images/test-service-2.webp"
            width="1032"
            height="430"
            alt=""
          />
        </CardService>

        <CardService
          headline="SEO"
          description="Rank higher and grow your business faster with our leading SEO team. We'll get your site to the top of Google to increase revenue, leads and results."
          shape="square"
          color="green"
        >
          <img
            src="/images/test-service-2.webp"
            width="1032"
            height="430"
            alt=""
          />
        </CardService>
      </div>
    </StyleguideSection>

    <StyleguideSection title="Card Stacks (Avatars, Media, Figure, Cta)">
      <div class="xl:grid xl:grid-cols-12 xl:gap-30">
        <div class:list={[classCardCSSCols, 'col-span-10 [&>*]:mb-30']}>
          <CardAvatars
            headline="Our Agency"
            description="Lorem ipsum dolor sit amet consectetur. Vitae tempor sollicitudin magna risus nunc. Id est aliquam cursus."
          >
            <img
              src="/images/test-avatar-1.webp"
              width="80"
              height="80"
              alt=""
            />
            <img
              src="/images/test-avatar-2.webp"
              width="80"
              height="80"
              alt=""
            />
            <img
              src="/images/test-avatar-3.webp"
              width="80"
              height="80"
              alt=""
            />
            <img
              src="/images/test-avatar-4.webp"
              width="80"
              height="80"
              alt=""
            />
            <img
              src="/images/test-avatar-5.webp"
              width="80"
              height="80"
              alt=""
            />
          </CardAvatars>

          <CardMedia
            headline="Global Reach, Local Expertise"
            description="With teams in London and South Africa, we combine local insights with a global perspective to deliver world-class digital solutions."
          >
            <img
              src="/images/test-project-1.webp"
              width="673"
              height="379"
              alt=""
            />
          </CardMedia>

          <CardFigure
            figure={84}
            unit="%"
            headline="Client Retention"
            description="84% of our clients stay with us for three years or more, because when you build trust and deliver real results, why go anywhere else?"
            color="blue"
            shape="circle"
          />

          <CardCta
            headline="Ready to start your next project? Call, live chat or send us a message today"
            cta="Get in touch"
          />
        </div>
      </div>
    </StyleguideSection>

    <StyleguideSection title="Fields (Input, Group, Control, Checkbox, File)">
      <div class="grid gap-60">
        <FormInput
          label="I am a basic input field"
          type="text"
          id="name"
          name="name"
          value=""
          placeholder="placeholder"
          required
        />

        <FormGroup
          headline="I'm the label for control checkboxes (multiple choice)"
        >
          <div class="flex gap-15 flex-wrap">
            <FormControl
              type="checkbox"
              color="yellow"
              label="Web Design"
              name="web-design"
              id="web-design"
              value="web-design"
            />

            <FormControl
              type="checkbox"
              color="green"
              label="SEO"
              name="seo"
              id="seo"
              value="seo"
            />

            <FormControl
              type="checkbox"
              color="blue"
              label="PPC"
              name="ppc"
              id="ppc"
              value="ppc"
            />

            <FormControl
              type="checkbox"
              color="white"
              label="Other"
              name="other"
              id="other"
              value="other"
            />
          </div>
        </FormGroup>

        <FormGroup headline="I'm the label for control radios (single choice)">
          <div class="flex gap-15 flex-wrap">
            <FormControl
              type="radio"
              color="yellow"
              label="£0-5k"
              name="web-design-budget"
              id="web-design-budget-1"
              value="web-design-budget-1"
              checked
            />

            <FormControl
              type="radio"
              color="yellow"
              label="£5-10k"
              name="web-design-budget"
              id="web-design-budget-2"
              value="web-design-budget-2"
            />

            <FormControl
              type="radio"
              color="yellow"
              label="£10-25k"
              name="web-design-budget"
              id="web-design-budget-3"
              value="web-design-budget-3"
            />

            <FormControl
              type="radio"
              color="yellow"
              label="£25-50k"
              name="web-design-budget"
              id="web-design-budget-4"
              value="web-design-budget-4"
            />

            <FormControl
              type="radio"
              color="yellow"
              label="£50k+"
              name="web-design-budget"
              id="web-design-budget-5"
              value="web-design-budget-5"
            />
          </div>

          <Fragment slot="bottom">
            <p class="text-grey text-14 lg:text-16 text-balance">
              Our bespoke web projects start at £25,000. For smaller budgets, we
              recommend Yellowball Lite - our affordable, flexible WordPress
              theme ideal for small businesses, startups and charities.
              <a href="/">
                <LinkArrow class="text-white">
                  Visit Yellowball Lite
                </LinkArrow>
              </a>
            </p>
          </Fragment>
        </FormGroup>

        <FormCheckbox color="white" name="agree" id="agree" value="agree">
          I am a simple checkbox with label
          <a href="/" class="underline">Privacy Policy</a>
        </FormCheckbox>

        <FormGroup headline="I'm a file input field">
          <FormFile label="Add attachment" name="file" id="file" />
        </FormGroup>
      </div>
    </StyleguideSection>

    <LayoutTheme theme="light" class="py-100">
      <StyleguideSection title="Light Theme Layout">
        <div
          class="flex flex-col min-h-[50vh] items-center justify-center text-center"
        >
          <p
            class="font-heading text-fluid-h3 opacity-30 text-balance font-bold"
          >
            The header changes to light theme when it scrolls into this section
          </p>
        </div>
      </StyleguideSection>
    </LayoutTheme>
  </main>
</Layout>
