---
import Layout from '../layouts/Layout.astro';
import AppHeaderLogo from '@/components/App/HeaderLogo.astro';
import BlockCarouselProjects from '@/components/Block/CarouselProjects.astro';
import Breadcrumb from '@/components/Elements/Breadcrumb.astro';
import Button from '@/components/Elements/Button.astro';
import CardProject from '@/components/Card/Project.astro';
import CardInsight from '@/components/Card/Insight.astro';
import CardRating from '@/components/Card/Rating.astro';
import Cursor from '@/components/Elements/Cursor.astro';
import Cube from '@/components/Elements/Cube.astro';
import HeadingBanner from '@/components/Block/HeadingBanner.astro';
import HeroText from '@/components/Block/HeroText.astro';
import Icon from '@/components/Elements/Icon.astro';
import LayoutLines from '@/components/Layout/Lines.astro';
import ServiceCards from '@/components/Block/ServiceCards.astro';
import ServiceItem from '@/components/Elements/ServiceItem.astro';
import AccordionItem from '@/components/Accordion/Item.astro';
import BlockLogoTicker from '@/components/Block/LogoTicker.astro';

const imageMobileTest: ImageObject = {
  src: '/images/portrait-1.webp',
  alt: 'portrait 1',
  width: 900,
  height: 1600,
};

const imageDesktopTest: ImageObject = {
  src: '/images/landscape-1.webp',
  alt: 'landscape 1',
  width: 1600,
  height: 900,
};

const sgSection = 'wrapper my-100';
const sgHeading = 'font-heading font-bold text-21 my-20 opacity-50';
---

<Layout title="Styleguide">
  <main class="mt-200">
    <section class={sgSection}>
      <h1 class={sgHeading}>Logo</h1>

      <div class="flex flex-wrap gap-8">
        <AppHeaderLogo />
      </div>
    </section>

    <section>
      <div class="wrapper">
        <h1 class={sgHeading}>Ticker</h1>
      </div>

      <BlockLogoTicker />
    </section>

    <section class={sgSection}>
      <h1 class={sgHeading}>Accordions</h1>

      <div class="flex flex-wrap gap-8">
        <AccordionItem id="one">
          <h2 slot="header">
            How much does web design and development from Yellowball typically
            cost?
          </h2>

          <div slot="body">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </p>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </p>
          </div>
        </AccordionItem>
      </div>
    </section>

    <section class={sgSection}>
      <h1 class={sgHeading}>Buttons</h1>

      <div class="flex flex-wrap gap-8">
        <button type="button">
          <Button text="Let's Chat" hasArrow />
        </button>

        <button type="button">
          <Button text="View all projects" hasArrow />
        </button>

        <button type="button">
          <Button text="All posts" hasArrow />
        </button>

        <button type="button">
          <Button text="Speak to a Web Expert" hasArrow />
        </button>

        <button type="button">
          <Button text="View all projects" type="white-border" />
        </button>
      </div>
    </section>

    <section class={sgSection}>
      <h1 class={sgHeading}>Cursors</h1>

      <div class="flex flex-wrap gap-8">
        <Cursor title="PPC Team" class="bg-blue" />
        <Cursor title="Design Team" class="bg-yellow" />
        <Cursor title="SEO Team" class="bg-green" />
        <Cursor title="Developers" class="bg-grey" />
      </div>
    </section>

    <section class={sgSection}>
      <h1 class={sgHeading}>Breadcrumbs</h1>

      <div class="flex flex-col items-start gap-8">
        <Breadcrumb
          shape="square"
          color="green"
          items={[
            { title: 'SEO', href: '/' },
            { title: 'SEO Audit Services', href: '/' },
          ]}
        />

        <Breadcrumb
          shape="triangle"
          color="yellow"
          items={[
            { title: 'Web Design', href: '/' },
            { title: 'WordPress Development', href: '/' },
          ]}
        />

        <Breadcrumb
          shape="circle"
          color="blue"
          items={[
            { title: 'PPC', href: '/' },
            { title: 'PPC Ad Campaigns', href: '/' },
          ]}
        />
      </div>
    </section>

    <section class={sgSection}>
      <h1 class={sgHeading}>Cubes</h1>

      <div class="flex flex-wrap gap-8">
        <Cube iconSize="lg">
          <Icon name="logo-figma" />
        </Cube>

        <Cube iconSize="lg">
          <Icon name="logo-wp" />
        </Cube>

        <Cube iconSize="lg">
          <Icon name="logo-woo" />
        </Cube>

        <Cube iconSize="lg">
          <Icon name="logo-laravel" />
        </Cube>

        <Cube>
          <Icon name="logo-white-label" />
        </Cube>

        <Cube>
          <Icon name="logo-ecommerce" />
        </Cube>

        <Cube color="green">
          <Icon name="service-paper-magnifier" />
        </Cube>

        <Cube color="blue">
          <Icon name="service-paper-magnifier" />
        </Cube>

        <Cube color="yellow">
          <Icon name="service-paper-magnifier" />
        </Cube>

        <Cube color="purple">
          <Icon name="service-paper-magnifier" />
        </Cube>
      </div>
    </section>

    <section class={sgSection}>
      <h1 class={sgHeading}>Shapes</h1>

      <div class="flex flex-wrap gap-8">
        <Icon name="shape-triangle" class="block size-[23px] text-yellow" />
        <Icon name="shape-square" class="block size-20 text-green" />
        <Icon name="shape-circle" class="block size-20 text-blue" />
      </div>
    </section>

    <section class={sgSection}>
      <h1 class={sgHeading}>Service</h1>
      <p class="font-semibold text-15 my-20">&lt;ServiceItem /&gt;</p>

      <ServiceItem
        headline="WordPress Development"
        description="Custom WordPress websites designed for flexibility, performance, and scalability. Power your brand with a platform trusted by millions."
      >
        <Cube slot="icon" iconSize="lg">
          <Icon name="logo-wp" />
        </Cube>
      </ServiceItem>
    </section>

    <section class={sgSection}>
      <h1 class={sgHeading}>Blocks</h1>

      <p class="font-semibold text-15 my-20">&lt;HeadingBanner /&gt;</p>
      <HeadingBanner />

      <p class="font-semibold text-15 my-20">&lt;ServiceCards /&gt;</p>
      <ServiceCards />

      <p class="font-semibold text-15 my-20">&lt;HeroText /&gt;</p>
      <HeroText
        headline="Meet a few of the experts behind your SEO success"
        description="We have a globally distributed team of SEO experts across offices in London and South Africa. Here's a glimpse of some of the talented specialists you could be working with. Each brings a wealth of experience and a passion for driving results."
      />
    </section>

    <section class="bg-cream text-navy">
      <LayoutLines theme="light">
        <HeadingBanner />
      </LayoutLines>
    </section>

    <section class={sgSection}>
      <h1 class={sgHeading}>Card Project</h1>

      <CardProject
        imageMobile={imageMobileTest}
        imageDesktop={imageDesktopTest}
      />
    </section>

    <section class={sgSection}>
      <h1 class={sgHeading}>Card Insight</h1>

      <div class="grid grid-cols-1 lg:grid-cols-3 gap-10 lg:gap-30">
        <CardInsight
          title="Web Design"
          headline="10 Steps to a Reliable Website Marketing Strategy"
          color="yellow"
          time="3 Min Read"
        >
          <img src="/images/test-laptop.webp" width="500" height="300" alt="" />
        </CardInsight>

        <CardInsight
          title="SEO"
          headline="A WordPress SEO Expert Approach to SEO Friendly Websites That Google Loves"
          color="green"
          time="14 Min Read"
        >
          <img src="/images/test-laptop.webp" width="500" height="300" alt="" />
        </CardInsight>

        <CardInsight
          title="PPC"
          headline="A Beginner's Guide to Website Maintenance"
          color="blue"
          time="3 Min Read"
        >
          <img src="/images/test-laptop.webp" width="500" height="300" alt="" />
        </CardInsight>
      </div>
    </section>

    <section class={sgSection}>
      <h1 class={sgHeading}>Card Rating</h1>

      <div
        class="grid grid-cols-1 lg:grid-cols-3 gap-10 lg:gap-30 items-center"
      >
        <CardRating
          quote="I'm delighted with the finished website & delivery of the project."
          name="Isabella"
          company="Ballet with Isabella"
        >
          <img src="/images/test-laptop.webp" width="500" height="300" alt="" />
        </CardRating>

        <CardRating
          quote="I've been really delighted by Yellowball's efficiency and expertise since signing up with them 3 months ago to build a new website, SEO and PPC. They are clearly leaders in their field and I can highly recommend them."
          name="Christopher Eden"
          company="Santis Health"
        />

        <CardRating
          quote="The team understood exactly what I wanted from the beginning."
          name="Pollyanna"
          company="Rosa & Blue"
        >
          <img src="/images/test-laptop.webp" width="500" height="300" alt="" />
        </CardRating>
      </div>
    </section>

    <BlockCarouselProjects />
  </main>
</Layout>
