---
import CardInsight from '@/components/Card/Insight.astro'

interface Slide {
  title: string
  headline: string
  color: ColorTypes
  time: string
  image: ImageObject
}

interface Props {
  title: string
  slides: Slide[]
  class?: string
}

const { title, slides, class: className } = Astro.props as Props

const classes = ['carousel-project', className]
---

<script>
  import Swiper from 'swiper'
  import type { SwiperOptions } from 'swiper/types'
  import { Navigation, Pagination, Keyboard } from 'swiper/modules'

  const carousels = [
    ...document.querySelectorAll('[data-js=carousel-post]'),
  ] as HTMLElement[]

  carousels.forEach(carousel => {
    const swiperEl = carousel.querySelector('[data-js-swiper]') as HTMLElement
    const screenSm = 640
    const screenMd = 768
    const screenLg = 1024

    if (swiperEl) {
      const swiperParams: SwiperOptions = {
        speed: 500,
        slidesPerView: 'auto',
        spaceBetween: 12,
        slideToClickedSlide: true,
        preventClicks: true,
        keyboard: {
          enabled: true,
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
          renderBullet(_, className) {
            return `
          <button type="button" class="${className}">
            <span class="swiper-pagination-bullet__pill"></span>
          </button>
        `
          },
        },

        breakpoints: {
          [`${screenSm}`]: {
            slidesPerView: 2,
            spaceBetween: 12,
          },

          [`${screenMd}`]: {
            slidesPerView: 2,
            spaceBetween: 30,
          },

          [`${screenLg}`]: {
            slidesPerView: 3,
            spaceBetween: 30,
          },
        },
      }

      new Swiper(swiperEl, {
        modules: [Navigation, Pagination, Keyboard],
        ...swiperParams,
      })
    }
  })
</script>

<div
  data-js="carousel-post"
  class:list={classes}
  style={`--_slidesNumber: ${slides?.length}`}
>
  <h3 class="font-heading text-fluid-h3 font-semibold">
    {title}
  </h3>

  <div data-js-swiper class="swiper">
    <div class="swiper-wrapper">
      {
        slides?.map(({ title, headline, color, time, image }) => (
          <div class="swiper-slide">
            <CardInsight {title} {headline} {color} {time}>
              <img
                src={image.src}
                alt={image.alt}
                width={image.width}
                height={image.height}
              />
            </CardInsight>
          </div>
        ))
      }
    </div>

    <div class="swiper-pagination"></div>
  </div>
</div>

<style>
  .carousel-project {
    width: 100%;
  }

  .swiper {
    @screen smMax {
      display: grid;
      grid-template-columns: repeat(8, minmax(0, 1fr));
      gap: 12px;
    }
  }

  .swiper-wrapper {
    --slide-ease: theme('transitionTimingFunction.out');

    transition-timing-function: var(--slide-ease);

    @screen smMax {
      grid-column: span 7;
    }
  }

  .swiper-pagination {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    z-index: 2;
  }
</style>
