---
import CardInsight from '@/components/Card/Insight.astro'

interface Slide {
  title: string
  headline: string
  color: ColorTypes
  time: string
  image: ImageObject
}

interface Props {
  title: string
  slides: Slide[]
  class?: string
}

const { title, slides, class: className } = Astro.props as Props

const classes = ['carousel-project', className]
---

<script>
  import Swiper from 'swiper'
  import type { SwiperOptions } from 'swiper/types'
  import { Navigation, Pagination, Keyboard } from 'swiper/modules'

  const carousels = [
    ...document.querySelectorAll('[data-js=carousel-post]'),
  ] as HTMLElement[]

  carousels.forEach(carousel => {
    const swiperEl = carousel.querySelector('[data-js-swiper]') as HTMLElement

    if (swiperEl) {
      const swiperParams: SwiperOptions = {
        speed: 500,
        slidesPerView: 3,
        spaceBetween: 30,
        slideToClickedSlide: true,
        keyboard: {
          enabled: true,
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
          renderBullet(_, className) {
            return `
          <button type="button" class="${className}">
            <span class="swiper-pagination-bullet__pill"></span>
          </button>
        `
          },
        },
      }

      new Swiper(swiperEl, {
        modules: [Navigation, Pagination, Keyboard],
        ...swiperParams,
      })
    }
  })
</script>

<div
  data-js="carousel-post"
  class:list={classes}
  style={`--_slidesNumber: ${slides?.length}`}
>
  <h3 class="font-heading text-fluid-h3 font-semibold">
    {title}
  </h3>
  <div data-js-swiper class="swiper">
    <div class="swiper-wrapper">
      {
        slides?.map(({ title, headline, color, time, image }) => (
          <div class="swiper-slide">
            <CardInsight {title} {headline} {color} {time}>
              <img
                src={image.src}
                alt={image.alt}
                width={image.width}
                height={image.height}
              />
            </CardInsight>
          </div>
        ))
      }
    </div>

    <div class="swiper-pagination"></div>
  </div>
</div>

<style>
  .carousel-project {
    width: 100%;
  }

  .swiper {
    position: relative;
    z-index: 1;
    padding-bottom: var(--_nudge);
  }

  .swiper-wrapper {
    --slide-ease: theme('transitionTimingFunction.out');

    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    transition-timing-function: var(--slide-ease);
    transform: translate3d(0px, 0, 0);
    touch-action: pan-y;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 100%;
    /* translate: 0 var(--_nudge) 0;
    transition: translate theme('transitionDuration.500')
      theme('transitionTimingFunction.smooth'); */

    /* &.swiper-slide-active {
      translate: 0 0 0;
    } */
  }

  .swiper-pagination {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    z-index: 2;
  }
</style>
