---
import CardProfile from '@/components/Card/Profile.astro';
import CardProfileSummary from '@/components/Card/ProfileSummary.astro';

interface Props {
  slides: any[];
  color?: ColorTypes;
  class?: string;
}

const { slides, color = 'green', class: className } = Astro.props as Props;

const classes = ['carousel-profile', className];
---

<script>
  import Swiper from 'swiper';
  import type { SwiperOptions } from 'swiper/types';
  import { Pagination, Keyboard } from 'swiper/modules';

  const carousels = [
    ...document.querySelectorAll('[data-js=carousel-profile]'),
  ] as HTMLElement[];

  carousels.forEach(carousel => {
    const swiperEl = carousel.querySelector('[data-js-swiper]') as HTMLElement;

    if (carousel && swiperEl) {
      const swiperParams: SwiperOptions = {
        speed: 500,
        slidesPerView: 'auto',
        slideToClickedSlide: true,
        preventClicks: true,
        keyboard: {
          enabled: true,
        },
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
          renderBullet(index, className) {
            return `
              <button type="button" class="${className}">
                <span class="swiper-pagination-bullet__pill">
                  <span class="sr-only">Go to slide ${index + 1}</span>
                </span>
              </button>
            `;
          },
        },
        breakpoints: {
          390: {
            centeredSlides: true,
          },
          640: {
            centeredSlides: false,
          },
        },
        on: {
          init() {
            carousel.classList.add('is-first-slide');
          },

          slideChange({ isBeginning, isEnd }) {
            if (isBeginning) {
              carousel.classList.add('is-first-slide');
            } else {
              carousel.classList.remove('is-first-slide');
            }

            if (isEnd) {
              carousel.classList.add('is-last-slide');
            } else {
              carousel.classList.remove('is-last-slide');
            }
          },
        },
      };

      new Swiper(swiperEl, {
        modules: [Pagination, Keyboard],
        ...swiperParams,
      });
    }
  });
</script>

<div
  data-js="carousel-profile"
  class:list={classes}
  style={`--_slidesNumber: ${slides?.length}`}
>
  <div data-js-swiper class="carousel-profile__swiper swiper">
    <div class="carousel-profile__swiper-wrapper swiper-wrapper">
      {
        slides?.map(slide =>
          slide.type === 'profile' ? (
            <div class="carousel-profile__swiper-slide swiper-slide">
              <CardProfile role={slide.role} name={slide.name} {color}>
                <img
                  class="object-cover size-full"
                  src={slide.image?.src}
                  alt={slide.image?.alt}
                  width={slide.image?.width}
                  height={slide.image?.height}
                />
              </CardProfile>
            </div>
          ) : (
            <div class="carousel-profile__swiper-slide swiper-slide">
              <CardProfileSummary title={slide.title} copy={slide.copy} {color}>
                {slide.avatars?.map((avatar: any) => (
                  <img
                    src={avatar.src}
                    alt={avatar.alt}
                    width={avatar.width}
                    height={avatar.height}
                  />
                ))}
              </CardProfileSummary>
            </div>
          ),
        )
      }
    </div>

    <div class="text-center col-span-full mt-20 md:hidden">
      <div class="carousel-profile__swiper-pagination swiper-pagination"></div>
    </div>
  </div>

  <style>
    .carousel-profile__swiper {
      display: grid;
      grid-template-columns: repeat(8, minmax(0, 1fr));
      margin-left: calc(-1 * var(--inner-gutter));
    }

    .carousel-profile__swiper-wrapper {
      grid-column: span 8;

      @media screen(xsToSm) {
        grid-column: span 7;
        left: 0;

        transition:
          transform 0.5s var(--swiper-slide-ease),
          left 0.5s theme('transitionTimingFunction.smooth') !important;

        .carousel-profile.is-first-slide & {
          left: -7%;
        }

        .carousel-profile.is-last-slide & {
          left: 7%;
        }
      }
    }

    .carousel-profile__swiper-slide {
      padding-left: var(--inner-gutter);
      width: 100%;

      @media screen(sm) {
        width: calc(1 / 2 * 100%);
      }

      @media screen(xl) {
        width: calc(1 / 3 * 100%);
      }
    }

    .carousel-profile__swiper-pagination {
      display: inline-flex;
    }
  </style>
</div>
