---
import CardProject from '@/components/Card/Project.astro';

interface Slide {
  imageMobile: ImageObject;
  imageDesktop: ImageObject;
}

interface Props {
  slides: Slide[];
  class?: string;
}

const { slides, class: className } = Astro.props as Props;

const classes = ['carousel-project', className];
---

<script>
  import Swiper from 'swiper';
  import type { SwiperOptions } from 'swiper/types';
  import { Autoplay, Navigation, Pagination, Keyboard } from 'swiper/modules';

  const carousels = document.querySelectorAll(
    '[data-js="carousel-project"]',
  ) as NodeListOf<HTMLElement>;

  carousels.forEach(carousel => {
    const swiperEl = carousel.querySelector('[data-js-swiper]') as HTMLElement;

    if (swiperEl) {
      const swiperParams: SwiperOptions = {
        speed: 1000,
        slidesPerView: 'auto',
        centeredSlides: true,
        spaceBetween: 30,
        slideToClickedSlide: true,
        preventClicks: true,
        loop: true,
        autoplay: {
          delay: 4000,
          disableOnInteraction: false,
        },
        keyboard: {
          enabled: true,
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
          renderBullet(index, className) {
            return `
          <button type="button" class="${className}">
            <span class="swiper-pagination-bullet__pill">
              <span class="sr-only">Go to slide ${index + 1}</span>
            </span>
          </button>
        `;
          },
        },
      };

      new Swiper(swiperEl, {
        modules: [Autoplay, Navigation, Pagination, Keyboard],
        ...swiperParams,
      });
    }
  });
</script>

<div
  data-js="carousel-project"
  data-css="carousel-project"
  class:list={classes}
  style={`--_slidesNumber: ${slides?.length}`}
>
  <div data-js-swiper class="swiper">
    <div class="swiper-wrapper">
      {
        slides.map(({ imageMobile, imageDesktop }) => (
          <div class="swiper-slide">
            <CardProject {imageMobile} {imageDesktop} />
          </div>
        ))
      }
    </div>

    <div class="swiper-pagination"></div>
  </div>
</div>

<style is:global>
  [data-css='carousel-project'] {
    --_nudge: theme('spacing.50');

    .carousel-project {
      width: 100%;
    }

    .swiper {
      --swiper-slide-duration: 1s;

      padding-bottom: var(--_nudge);
    }

    .swiper-slide {
      translate: 0 var(--_nudge) 0;
      transition: translate theme('transitionDuration.500')
        theme('transitionTimingFunction.smooth');

      &.swiper-slide-active {
        translate: 0 0 0;
      }
    }

    .swiper-pagination {
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      z-index: 2;
    }
  }
</style>
