---
import CubeIcon from '@/components/Elements/CubeIcon.astro';
import LinkArrow from '@/components/Elements/LinkArrow.astro';

interface Props {
  color?: ColorTypes;
  icon?: CubeIconObject;
  headline: string;
  description: string;
}

const { color = 'yellow', icon, headline, description } = Astro.props as Props;
---

<a href="/" class="flex flex-col gap-15 md:gap-30">
  <div class="flex flex-col gap-15 md:flex-row md:items-center md:gap-20">
    {
      icon && (
        <CubeIcon
          type={icon.type}
          name={icon.name}
          hover={icon.hover}
          color={icon.color ?? color}
        />
      )
    }

    <h4
      class="w-full font-heading font-semibold text-20 md:text-24 text-white text-balance"
    >
      <LinkArrow class="w-full" {color}>
        {headline}
      </LinkArrow>
    </h4>
  </div>

  {
    description && (
      <div>
        <p class="text-15 md:text-18 text-grey text-balance">{description}</p>
      </div>
    )
  }
</a>
