---
import { colourText } from '@/utils/maps'

interface Props {
  id: string
  color?: 'green' | 'blue' | 'yellow' | 'purple'
  class?: string
}

const { id, color = 'green', class: className } = Astro.props as Props

const headerId = `accordion-item-header-${id}`
const bodyId = `accordion-item-body-${id}`
---

<script>
  import gsap from 'gsap'

  const accordions = [
    ...document.querySelectorAll('[data-js=accordion-item]'),
  ] as HTMLElement[]

  accordions.forEach(accordion => {
    const header = accordion.querySelector('[data-js-header]') as HTMLElement
    const body = accordion.querySelector('[data-js-body]') as HTMLElement
    const bodyInner = accordion.querySelector(
      '[data-js-body-inner]',
    ) as HTMLElement

    const tl = gsap.timeline({ paused: true })

    const toggleAccordion = () => {
      const isOpen = accordion.classList.contains('is-open')

      tl.clear()

      if (isOpen) {
        // const tl = gsap.timeline()

        tl.to(bodyInner, {
          opacity: 0,
          duration: 0.2,
          ease: 'power2.inOut',
        }).to(
          body,
          {
            height: 0,
            duration: 0.5,
            ease: 'power4.inOut',
          },
          '<',
        )

        accordion.classList.remove('is-open')
        body?.setAttribute('aria-label', 'Close Accordion')
        body?.setAttribute('aria-hidden', 'true')
      } else {
        // const tl = gsap.timeline()

        tl.to(body, {
          height: 'auto',
          duration: 0.5,
          ease: 'power4.inOut',
          onComplete: () => {
            gsap.set(body, { height: 'auto' }) // Set to auto for flexible height
          },
        }).to(
          bodyInner,
          {
            opacity: 1,
            duration: 0.5,
            ease: 'power2.out',
          },
          '<50%',
        )

        accordion.classList.add('is-open')
        body?.setAttribute('aria-label', 'Open Accordion')
        body?.setAttribute('aria-hidden', 'false')
      }

      tl.play()
    }

    header.addEventListener('click', toggleAccordion)
  })
</script>

<section data-js="accordion-item" class:list={['accordion-item', className]}>
  <button
    data-js-header
    type="button"
    id={headerId}
    class:list={[
      'flex items-center gap-40 py-40 w-full',
      'font-heading text-21 font-semibold md:text-28',
    ]}
  >
    <span class={colourText[color]}>+</span>

    <slot name="header" />
  </button>

  <article
    data-js-body
    class="prose prose-p:m-0 [&_p+p]:mt-[1em] e h-0 overflow-hidden text-grey"
    id={bodyId}
    role="region"
    aria-labelledby={headerId}
  >
    <div data-js-body-inner class="pb-40 opacity-0">
      <slot name="body" />
    </div>
  </article>
</section>
